@charset "utf-8";

div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td 
{margin:0; padding:0; border:0;}
ol, ul, li {list-style:none;}

legend {visibility:hidden; display:none; height:0; width:0; font-size:0;}

table {border-spacing:0;}
select {font-size:12px;}
input.board_input {height: 35px;padding:0 15px;line-height: 35px;color:#757575;border:1px solid #d5dbde;cursor:text;background:#fff;margin: 5px 0;}
input.board_input:focus{border:1px solid #3db6ed;background-color:#f0f7fa;}
input.board_input_file {width:90%; border:1px solid #cdcdcd; padding:3px 3px 0px 3px; font-size:12px; background:#fff;}
textarea {border:1px solid #cdcdcd; font-size:12px;}
.display_none {display:none;}

#board {margin:0 auto;}

#board .board_total {width:100%;overflow:hidden;clear:both;padding-bottom:5px;}
#board .board_total_left {float:left; font-size:15px;}
#board .board_total_left strong{color:#e64847;text-decoration:underline;}
#board .board_total_right {float:right; font-size:14px;}
#board .board_total_right li {float:left;margin-left:10px;font-size:13px;line-height:20px;color:#333;}
#board .board_total_right li * {vertical-align:middle;}
#board .board_total_right li img {height:20px;}
#board .board_total img {padding-left:3px;}
#board div.board_total .board_orange{color:#F96F00;}
#board .board_button {width:100%; margin-top:5px; text-align:right;}
#board .guide span {float:right;color:#838383;font-weight:normal;letter-spacing:-0.1em;padding:0 4px 6px 0;margin: 20px 0;}
#board span.category_color {color:#979797;}

#board .search_box_fr2 .search_btn{display: inline-block; margin: 0 3px;  color: #fff;  padding: 14px 40px;  font-size: 15px;  line-height: normal;  vertical-align: middle;
text-align: center; cursor: pointer; border: 0; letter-spacing: -0.05em; background:#909090;}

#board .btn_sm{display:block;width:150px;height:45px;margin:5px 0;line-height:45px;font-size: 16px;font-weight: 500;text-align:center;vertical-align:middle;}
#board .btn_ing{color:#fff;border: 1px solid #ff9601;background: #ff9601;} /*수강신청*/
#board .btn_check{background:#fff;color:#222;border:1px solid #222;} /*등록확인*/
#board .btn_close{color:#fff; background:#909090; border:1px solid #777;} /*기간종료*/
#board .btn_end{background:#b7b7b7;border:1px solid #aaa;color:#fff;} /*마감*/
#board .btn_prepare{background:#3575dc;border:1px solid #2a61bbe;color:#fff;} /*접수준비*/
#board .btn_receipt{background:#e15d66;border:1px solid #e15d66;color:#fff;} /*접수중*/
#board .btn_request {background:#fff;color:#222;border:1px solid #222;} /*등록확인*/
#board .btn_visit {background:#fff;color: #13826e; border: 1px solid #12806d;} /*방문접수*/


/* List */
#board .lesson{margin-bottom:0;}
#board .lesson ul li.no_program{padding:40px 0;}
#board .lesson ul li{position:relative;padding: 40px 40px 40px 220px;;overflow:hidden;clear:both;margin-bottom:15px;border:1px solid #cfcfcf;border-radius: 20px;}
#board .lesson ul li.no_img{padding:40px;}
#board .lesson ul li .cont{margin-right:170px;}
#board .lesson ul li .cont img{display: block;width: 240px !important;height: 150px;border: 1px solid #e5e5e5;box-sizing: border-box;margin-bottom: 10px;}
#board .lesson ul li .cont .tit{margin-bottom:10px;}
#board .lesson ul li .cont .tit a{font-size: 22px;font-weight: 600;color:#222;letter-spacing: -0.03em;}
#board .lesson ul li .cont .tit a:hover{text-decoration:underline;}
#board .lesson ul li .cont .sm_box{width:100%;display:inline-block;font-size:14px;}
#board .lesson ul li .cont .sm_box dl{float:left;margin:0 15px 2px 0;display:inline-block;font-size: 16px;}
#board .lesson ul li .cont .sm_box dl.num{float:none;width:100%;}
#board .lesson ul li .cont .sm_box dl dt{float:left;margin-right:6px;color:#000;font-weight:bold;}
#board .lesson ul li .cont .sm_box dl dd{float:left;}
#board .lesson ul li .btn_box{position:absolute;top: 50%;right:40px;margin-top: -54.5px;}

/*학교나눔 프로그램 이미지*/
#board .lesson ul li img.edu_img{position:absolute;top: 50%;left: 40px;display:inline-block;width:160px;height:100px;margin-top: -50px;border:1px solid #e5e5e5;box-sizing:border-box;}



#board .table_blist {clear:both;}
#board .table_blist table {width:100%; border-collapse:collapse; }
#board .table_blist table caption {display:none;}
#board .table_blist thead th {text-align:center;border-bottom:1px solid #000;border-top:1px solid #dbdbdb;padding:15px 0;color:#333;font-size:14px;font-weight:bold;color:#333;}
#board .table_blist thead th.th_none {background-image:none;}
#board .table_blist tbody td {padding:15px 0;border-bottom:1px solid #dbdbdb; text-align:center;}
#board .table_blist tbody td img {vertical-align:middle;}
#board .table_blist tbody td span.reply_count {color:#EE5A00; font-size:0.9em; font-weight:normal;}
#board .table_blist tbody td.notice {background-color:#FBFBFB;}
#board .table_blist tbody td.title {text-align:left;}
#board .table_blist tbody td.title p{margin-bottom:5px;}
#board .table_blist tbody td.title p a{font-weight:bold;color:#000;}
#board .table_blist tbody td.title p a:hover{text-decoration:underline;}
#board .table_blist tbody td.center {text-align:center;}
#board .table_blist .date1{color:#245ab2;}
#board .table_blist .date2{color:#24a3b2;}

/* Write */
#board .table_bwrite {clear:both;border-top:2px solid #000;}
#board .table_bwrite table {width:100%;border-collapse:collapse;font-size:14px;}/*table-layout:fixed;*/
#board .table_bwrite table caption {font-size:0;line-height:0;position:absolute;top:-5000px;right:-5000px;}
#board .table_bwrite tbody th {font-weight:normal;padding:15px 20px;font-size:15px;border:1px solid #dfdfdf;background:#f9fafa; color:#222; width:170px; text-align:center;}
#board .table_bwrite tbody th img {vertical-align:middle; padding-left:5px;}
#board .table_bwrite tbody td {padding: 6px 0 6px 10px; border:1px solid #dfdfdf; text-align:left;font-size:15px;}
#board .table_bwrite tbody td input.subject {width:95%;}
#board .table_bwrite tbody td.content {margin:0; padding-top:4px; padding-bottom:4px; padding-left:0; padding-right:0px; text-align:center;}
#board .table_bwrite tbody td span.text1 { font-size:0.9em; font-weight:normal; letter-spacing:-0.1em; padding-left:6px;}
#board .table_bwrite tbody td span.eng {padding-left:0; color:#6a6a6a; font-size: 0.9em; font-weight:normal; letter-spacing:-0.1em;}
#board .table_bwrite .ct_bt01 {display: inline-block; height: 45px; margin: 0 3px; line-height: 45px;font-size: 14px; text-align: center; padding: 0 30px; vertical-align: middle;
cursor: pointer; border: 0 none; color: #fff; background: #8b95a3;}

/* file */
#board .table_bwrite tbody td.filetable table {width:100%; line-height:16px; border-collapse:collapse; border:none; border-top:1px solid #DEDEDE;}
#board .table_bwrite tbody td.filetable table th{padding:5px 0;  border:none; border-right:1px solid #DEDEDE; background:#F6F6F6; color:#666666; text-align:center; letter-spacing:-0.1em; line-height:140%; vertical-align:top;}
#board .table_bwrite tbody td.filetable table td{padding:5px 0 5px 10px; border:none; background: #ffffff; text-align:left; }




/* View */
#board .table_bview {clear:both;border-top:1px solid #222;}
#board .table_bview table{width:100%; line-height:16px; border-collapse:collapse;table-layout:fixed;}
#board .table_bview table caption{font-size:0;line-height:0;position:absolute;top:-5000px;right:-5000px;}
#board .table_bview thead th {border-bottom:1px solid #ccc;padding:12px 0;color:#222; font-size:18px;color:#222;text-align:center;background:#f9f9f9;}
#board .table_bview .btn_sm{display:inline-block;float:none;text-align:center;height:30px;line-height:30px;width:80px;font-size:13px;font-weight:normal;margin-left:15px;vertical-align:middle;}
#board .table_bview thead th.th_none {background-image:none; text-align:center; padding-left:5px;}
#board .table_bview thead th.th_none img {vertical-align:middle;}
#board .table_bview tbody th {border-right:1px solid #E1E1E1; border-bottom:1px solid #E1E1E1; background:#F6F6F6; color:#737373; text-align:center; line-height:140%;}
#board .table_bview tbody td {padding:12px 15px; background:#ffffff; text-align:left; line-height:160%;border-bottom:1px solid #dbdbdb;}
#board .table_bview tbody td.content{padding:20px 10px 30px 10px;}
#board .table_bview tbody td.content img{display:block;max-width:100% !important;height:auto !important;}
#board .table_bview tbody td span.text1 {color:#818181; font-family:dotum; font-size:0.9em; font-weight:normal; padding-left:6px;}
#board .table_bview tbody td span.eng {padding-left:0; color:#6A6A6A; font-size: 0.9em; font-weight:normal;}
#board .table_bview tbody td dl.info {float:left; margin:0; padding-left:3px;}
#board .table_bview tbody td dl.info dt {float:left; width:80px;color:#000;font-weight:bold; margin-right:20px;}
#board .table_bview tbody td dl.info dd {float:left;border-left:1px solid #dfdfdf; display:inline;  padding-left:20px;}
#board .table_bview tbody td dl.info dd img {vertical-align:middle;}
#board .table_bview tbody td dl.info dd .size {font-size:0.8em; font-family:tahoma; color:#BFBFBF;}
#board .table_bview tbody td.content .sns{clear:both; float:right; padding-top:20px;}
#board .table_bview tbody td.content .sns a{float:left; padding-left:3px;}
#board .table_bview tbody td.content .photodown{background-color:#336699; color:#ffffff; padding:5px;}


/* Comment */
#board .board_comment {clear:both; padding-top:20px;}
#board .board_comment table{width:100%; background-color:#FAFAFA; margin-bottom:15px}
#board .board_comment table caption{display:none;}
#board .board_comment tbody td {padding:15px 0; text-align:left; line-height:140%;}
#board .board_comment tbody td.dr01 {height:5px; background:url(/content/board/nninc_simple/img/dr01.gif); background-repeat:no-repeat;}
#board .board_comment tbody td.dr02 {height:5px; background:url(/content/board/nninc_simple/img/dr02.gif); background-repeat: repeat-x;}
#board .board_comment tbody td.dr03 {height:5px; background:url(/content/board/nninc_simple/img/dr03.gif); background-repeat:no-repeat;}
#board .board_comment tbody td.dr04 {background:url(/content/board/nninc_simple/img/dr04.gif); background-repeat: repeat-y;}
#board .board_comment tbody td.text {padding:0; margin:0; height:20px;}
#board .board_comment tbody td dl.info {margin:0; padding-left:10px;}
#board .board_comment tbody td dl.info dt {float:left; letter-spacing:-0.1em; padding:0; font-size:0.9em; padding-top:4px;}
#board .board_comment tbody td dl.info dd {float:left; padding:0 10px 0 4px;}
#board .board_comment tbody td.dr05 {text-align:center; padding-top:4px; padding-bottom:4px;}
#board .board_comment tbody td.dr05 textarea {width:88%;height:38px;}
#board .board_comment tbody td.dr06 {background:url(/content/board/nninc_simple/img/dr06.gif); background-repeat: repeat-y;}
#board .board_comment tbody td.dr07 {height:5px; background:url(/content/board/nninc_simple/img/dr07.gif); background-repeat:no-repeat;}
#board .board_comment tbody td.dr08 {height:5px; background:url(/content/board/nninc_simple/img/dr08.gif);  background-repeat: repeat-x;}
#board .board_comment tbody td.dr09 {height:5px; background:url(/content/board/nninc_simple/img/dr09.gif); background-repeat:no-repeat;}

.cmt_list {margin-top:5px;}
.cmt_list div.h {margin:0 0 1px; background:transparent url(/content/board/nninc_simple/img/human_ic.gif) no-repeat scroll 0 0.1em; text-align:left; padding-left:15px;}
.cmt_list p {line-height:1.6em; margin:0; padding:5px 0 0 12px; text-align:left;}
.cmt_list  li.line {height:1px; background:transparent url(/content/board/nninc_simple/img/dr_line_bg.gif);  background-repeat: repeat-x; margin:0; padding-top:15px;}


/* Paginate */
.board_paginate{margin:30px 0 0 0;text-align:center;font-family: 'Roboto', sans-serif;letter-spacing:0;}
.board_paginate a,
.board_paginate strong{display:inline-block;width:40px;height:40px;text-decoration:none;cursor:pointer;color:#000;font-size:13px;line-height:40px;font-weight:bold;}
.board_paginate a:hover{background:#e5e5e5;}
.board_paginate strong{background:#fff;color:#222;font-weight:bold;cursor:pointer; border: 1px solid #222; border-radius:50px; }
.board_paginate strong:hover{background:#2e8fe6;}
.board_paginate img{vertical-align:middle;}


.paginate{margin:30px 0 0 0;text-align:center;font-family: 'Roboto', sans-serif;letter-spacing:0;}
.paginate a,
.paginate strong{display:inline-block;width:40px;height:40px;text-decoration:none;cursor:pointer;color:#000;font-size:13px;line-height:40px;font-weight:bold;border-radius:5px;}
.paginate a:hover{background:#e5e5e5;}
.paginate strong{background:#3e99ea;color:#fff;font-weight:bold;cursor:pointer;}
.paginate img{vertical-align:middle;}




/* Button */
.board_button {clear:both;}
.board_button .fl {float:left; /*background:transparent url(/content/board/nninc_simple/img/board_ldot.gif) no-repeat 25px 5px;*/}
.board_button .fr {float:right; overflow:hidden;}
.board_button .pt10 {padding-top:10px;}


.board_button ul li {float:left;}
.board_button ul li.pl {padding-left:10px;}
.board_button ul li.pt {padding-top:7px;}
.board_button span.bt {padding-top:10px; padding-left:4px; text-align:right;}
.board_button2 {margin:0 auto; text-align:center; padding-top:10px; padding-left:4px;}



a.board_lbtn {display:inline-block; height:22px; padding-left:20px; background:url(/content/board/nninc_simple/img/board_lbtn_l.gif) no-repeat 0 0; margin-right:3px;}
a.board_lbtn span {display:inline-block; height:22px; line-height:23px; padding-right:14px; background:url(/content/board/nninc_simple/img/board_lbtn_r.gif) no-repeat right 0; letter-spacing:-1px;}
.board_bt01 {display:inline;}
.board_bt01 a{display:inline; overflow:hidden; float:left; height:22px; padding-left:13px; margin-right:3px; font:12px dotum; letter-spacing:-1px; color:#6B6B6B; text-decoration:none; background:url(/content/board/nninc_simple/img/bt01_bg.gif) left 0; cursor:pointer;}
.board_bt01 a:hover{background:url(/content/board/nninc_simple/img/bt01_bg.gif) left -22px; text-decoration:none;}
.board_bt01 a span{display:inline; overflow:hidden; float:left; height:22px; padding-right:10px; line-height:200%; background:url(/content/board/nninc_simple/img/bt01_bg.gif) right 0;}
.board_bt01 a:hover span{color:#6B6B6B; background:url(/content/board/nninc_simple/img/bt01_bg.gif) right -22px;}


/* Search */
.board_search {width:310px; margin:0 auto; margin-top:18px;}
.board_search ul {float:left;}
.board_search ul li {float:left; height:35px;}
.board_search ul li.board_search_start {float:left; width:18px; height:35px; background:url(/content/board/nninc_simple/img/search_left.gif); background-repeat:no-repeat;}
.board_search ul li.board_search_end {float:left; width:18px; height:35px; background:url(/content/board/nninc_simple/img/search_right.gif); background-repeat:no-repeat;}
.board_search ul li select {float:left;}
.board_search ul li input.search_input {float:left; margin-left:5px; background:#e5e5e5; border:1px solid #bebebe; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; height:24px; padding:2px 0 0 3px;}
.board_search ul li input.search_bt {float:left;}


.command_pwd {position:absolute; border:2px solid #C6C6C6; background-color:#ffffff; padding:8px 15px 8px 15px; text-align:center; vertical-align:middle; font-weight:bold; color:#313131; line-height:140%;}
.command_pwd li.text {float:left; letter-spacing:-0.1em; padding:0; font-size:0.9em; padding-top:4px;padding-right:4px;}
.command_pwd li {float:left; padding-left:3px;}
.command_pwd li img {height:20px;padding-top:1px;}


.pwd_check {margin:0 auto; text-align:center; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; padding:25px; font-weight:bold; color:#313131; line-height:140%;}
.pwd_check *{margin:0; padding:0;}
.pwd_check label {color:#7D7D7D; letter-spacing:-1px; font-size:11px;}
.pwd_check li.text {letter-spacing:-0.1em; font-size:0.9em;}
.pwd_check_button {width:90%;margin:0 auto; text-align:center; padding-top:10px;}

.login_check {width:100%; margin:0 auto; margin-top:20px; text-align:center; border-top:2px solid #C8C8C8; border-bottom:2px solid #DEDEDE; background-color:#ffffff; padding:25px; font-weight:bold; color:#313131; line-height:140%;}
.login_check *{margin:0; padding:0;}
.login_check span{color:#7D7D7D; letter-spacing:-1px; font-size:11px;}
.login_check li.text {letter-spacing:-0.1em; font-size:0.9em;}
.login_check li.id {padding-right:26px; padding-bottom:4px;}
.login_check_button {width:90%;margin:0 auto; text-align:center; padding-top:10px;}



/* 주소찾기 */
.post_search2{border:1px solid #CDCDCD;height:80px;margin-right:10px;margin-top:3px;overflow:auto;padding:6px;}

.top_subj_search{width:100%;margin-bottom:15px;text-align:center;padding:15px 0;background:#fff;border:1px solid #dbdbdb;border-top:2px solid #44b2d1;}
.top_subj_search ul{width:100%;}
.top_subj_search ul li{display:inline-block;*display:inline;*zoom:1;margin:0 3px;vertical-align:middle;}
.top_subj_search ul li select{height:30px;padding-left:5px;color:#666;border:1px solid #ccc;}
.top_subj_search ul li input.txt{height:28px;line-height:28px;color:#666;border:1px solid #ccc;}
.top_subj_search ul li input.mit{height:30px;width:40px;line-height:30px;color:#fff;font-weight:bold;background:#6d737e;border:0 none;}



/***검색박스***/
#board .base_search{width:100%;padding-bottom:35px;border-bottom:1px solid #ccc;}
#board .base_search .base_search_on{width:85%;margin:0 auto;}
#board .base_search .select_box{display:inline-block;width:100%;margin-bottom:15px;text-align:left;}
#board .base_search .select_box .select_style{margin-right:6px;}
#board .search_style{width:100%;text-align:center;}
#board .search_style .search{height:56px;border:2px solid #0070bb;border-radius:50px;background:#0070bb;}
#board .search_style .search .input{float:left;width:90%;position:relative;border-radius:50px;background:#fff;}
#board .search_style .search .input input{width:95%;padding:0 25px;height:56px;line-height:56px;color:#222;font-size:19px;border:0;text-indent:5px;background:none;font-family:'NotoKrR';border:0 none;outline:none;cursor:text;}
#board .search_style .search .input label{position:absolute;top:17px;left:25px;cursor:text;font-size:19px;color:#757575;font-family:'NotoKrL';}
#board .search_style .search .input_bt{float:right;width:10%;text-align:center;}
#board .search_style .search .input_bt input{height:54px;line-height:54px;background:none;border:0 none;color:#fff;font-family:'NotoKrR';font-size:16px;}
#board .basesearch_btn{width:100%;text-align:right;}
#board .searchwithin{width:98%;margin:20px auto 15px auto;font-size:14px;}

.search_tit{width:100%;display:inline-block;}
.search_tit h3.tit{float:left;} 
.search_tit .search_box_fr{float:right; }
.search_tit .search_box_fr ul{overflow:hidden;clear:both;}
.search_tit .search_box_fr ul li{float:left;margin-left:5px;}

.search_tit .search_box_fr2{float:right; clear:both;}
.search_tit .search_box_fr2 ul{overflow:hidden;clear:both;}
.search_tit .search_box_fr2 ul li{float:left;margin-left:5px;}
.search_tit .search_box_fr2 .select_style{display:inline-block;position:relative;min-width:80px;height:50px;line-height:40px;border:1px solid #dadada;background:#fff;}
.search_tit .search_box_fr2 .select_style select{display: inline-block;width:100%;cursor: pointer;outline:0;padding:0 25px 0 10px;border:0;font-size:14px;border-radius: 0;background: white;color: black;appearance: none; 
-webkit-appearance: none; -moz-appearance: none;height: 100%;background:#fff url(/nanum/site/builder/skin/common/img/select_style_bu.gif) no-repeat right 50%;}
.search_tit .search_box_fr2 .select_style select::-ms-expand {display: none;}
.search_tit .search_box_fr2 .select_style select:disabled {opacity: 0.5;pointer-events: none;}

/***동의박스***/
.agreeBox{width:100%;}
.agreeBox .area{width:100%;margin-top:50px;}
.agreeBox .area h3.tit{float:left;}
.agreeBox .area .check{float:right;padding-top:20px;}
.agreeBox .area .check input{vertical-align:middle;}
.agreeBox .area .check label{vertical-align:middle;}
.agreeBox .area .txt_box{clear:both;width:100%;height:140px;padding:20px;border:1px solid #dfdfdf;border-radius:10px;overflow-y:scroll;font-size:13px;color:#666;line-height:18px;word-break:keep-all;box-sizing:border-box;}
.agreeBox .allagree{padding-bottom:40px;border-bottom:1px dashed #ccc;text-align:center;font-size:17px;color:#222;font-family:'NotoKrM';}
.agreeBox .allagree label{color:#222;}
.agreeBox .btn_w{padding:40px 0;}





/******************************모바일******************************/
@media(max-width:736px){

#board .btn_sm{float:right;width:48%;height:40px;margin:0 0;padding-top:0;line-height:40px;}
#board .btn_sm:first-child{float:left;}
#board .btn_sm br{display:none;}


/* List */
#board .lesson{border-top:2px solid #000;margin-bottom:0;}
#board .lesson.no_top{border-top:0 none;}
#board .lesson ul li{min-height:auto; padding:20px;text-align: center;}
#board .lesson ul li .cont{float:none;margin-right:0; line-height:1.3;}
#board .lesson ul li .cont img{width: 100% !important;margin-top: 10px;height: auto;}
#board .lesson ul li .cont .cate{font-weight:bold;}
#board .lesson ul li .cont .tit{margin-bottom:10px;}
#board .lesson ul li .cont .tit a{font-size:17px;font-weight:bold;color:#000;}
#board .lesson ul li .cont .tit a:hover{text-decoration:underline;}
#board .lesson ul li .cont .sm_box{width:100%;display:inline-block;text-align: left;font-size:13px;border:1px solid #dbdbdb;padding:15px 0 5px;border-radius:3px;line-height:20px;}
#board .lesson ul li .cont .sm_box dl{float:none;margin-right:15px;display:inline-block;padding:0 15px;}
#board .lesson ul li .cont .sm_box dl dt{float:left;margin:0 6px 5px 0;color:#000;font-weight:bold;font-size: 15px;}
#board .lesson ul li .cont .sm_box dl dd{font-size: 13px;}
#board .lesson ul li .btn_box{position:relative;top:0;right:auto;margin-top:10px;}


/*학교나눔 프로그램 이미지*/
#board .lesson ul li img.edu_img{position: static;margin: 0 0 15px 0;}



/* Wirte */
#board .table_bwrite tbody th,
#board .table_bwrite tbody td {font-size:14px;}
#board .table_bwrite tbody td span.text1 {display:block; margin-top:5px;}


.top_subj_search ul li{margin-bottom:8px;}
.top_subj_search ul li.end input.mit{width:100%;}


#board .table_bview tbody td.content,
#board .table_bview tbody td.content div,
#board .table_bview tbody td.content p,
#board .table_bview tbody td.content span,
#board .table_bview tbody td.content strong{font-size:13px !important;}
#board .table_bview .btn_sm,
#board .table_bview .btn_sm:first-child{float:none;width:100px;display:block;margin:10px auto 0 auto;}

input.board_input{padding:0 10px;}
#board .table_bwrite tbody td input.board_input{width:20% !important;box-sizing:border-box; height:35px; line-height:35px;}
#board .table_bwrite tbody td input.board_input.middle {width:60% !important;}
#board .table_bwrite tbody td input.board_input.mini{width:80px !important;}
#board .table_bwrite tbody td textarea.textarea{width:100% !important;box-sizing:border-box;}



/**************view*******************/

#board .table_bview thead th.th_none {line-height:1.3;}

/***검색박스***/

#board .base_search .base_search_on{width:100%;margin:0 auto;}
#board .base_search .select_box .select_style{margin:0 3px 3px 0;}
#board .search_style .search{height:53px;}
#board .search_style .search .input{width:85%;}
#board .search_style .search .input input{width:95%;padding:0 20px;height:53px;line-height:53px;}
#board .search_style .search .input label{top:16px;left:20px;}
#board .search_style .search .input_bt{width:15%;}
#board .search_style .search .input_bt input{height:53px;line-height:53px;}
#board .searchwithin{width:98%;margin-top:15px;}

.search_tit .search_box_fr2 {margin-bottom:20px; }
#board .search_box_fr2 .search_btn {margin: 0 2px; padding: 12px 25px; font-size: 14px; margin-top:10px;}



/***동의박스***/
.agreeBox .area{margin-top:40px;}
.agreeBox .area h3.tit,
.agreeBox .area .check{float:none;}
.agreeBox .area .check{padding-top:12px;border:1px solid #dfdfdf;border-bottom:0;text-align:left;padding:8px 10px;border-radius:5px 5px 0 0;word-break:keep-all;}
.agreeBox .area .txt_box{border-radius:0 0 10px 10px;padding:15px;}
.agreeBox .allagree{padding-bottom:30px;}

#board .board_total{margin-top:5px;}

/***검색박스***/
.search_tit .search_box_fr2 {float:none; margin:0 auto; padding: 10px; background:#f8f8f8; border:1px solid #dbdbdb; clear:both; margin-bottom: 10px;text-align:center; margin:0 auto;}
.search_tit .search_box_fr2 ul {width:100%; text-align: center;display: inline-block; margin: 0 auto;}
.search_tit .search_box_fr2 ul li.medium {float:none; width:47%; float:left;}
.search_tit .search_box_fr2 ul li .txt_input{height:38px; line-height:38px;  margin-top:5px; width: 100%; box-sizing: border-box; float: left; margin-right: 10px;}
.search_tit .search_box_fr2 ul li.long {display:inline-block;width:70%;}
.search_tit .search_box_fr2 ul li:last-child{width:auto;margin-top:5px; text-align:center; }

}







/******************************480******************************/
@media all and (max-width:480px){
	#board .table_bwrite tbody tr th,
	#board .table_bwrite tbody tr td{display:block; width:100%; padding:10px 0; box-sizing:border-box;}
	#board .table_bwrite tbody tr th {border-top:0; border-bottom:0; text-align:left; padding:12px 10px; font-size:13px; font-weight:bold;}
	#board .table_bwrite tbody tr td {padding:12px 10px; font-size:13px; }
	
	#board .table_bview tbody td dl.info dt {margin-right:0px;}
	#board .table_bview tbody td dl.info dd {margin-left:0;}



}




/******************************480******************************/
@media all and (max-width:480px){
#board .table_bwrite tbody td input.board_input.mini {width:60px !important;}

}