@charset "utf-8";

/*파일컨트롤 div*/
#NFU_file_control {padding:0; margin:0;border:1px solid #c6c6c6;}
#NFU_file_control ul, li{padding:0; margin:0;}

/*파일이미지*/
#NFU_div_img {float:left;border-right:1px solid #c6c6c6;background:url('/nfu/nanum/site/img/nanum/site/imgbox_bg.gif') repeat 0 0;width:150px;height:100%;text-align:center;vertical-align:middle;}	/*이미지 div*/
#NFU_image {max-width:130px;max-height:100px;margin:10px;}						/*이미지 img*/


/*파일리스트*/
#NFU_div_file_list {overflow-y:scroll;height:100%;}					/*파일리스트 div*/
#NFU_file_list {width:100%;border-collapse:collapse;}				/*파일리스트 div 하위 table*/

#NFU_file_list tr td{font-family:Dotum,"돋움",sans-serif;font-size:12px;padding:0px 5px 0px 5px;}
#NFU_file_list tr td:nth-child(1) {width:20px;text-align:center;}	/*체크박스 td*/
#NFU_file_list tr td:nth-child(3) {width:15%;text-align:right;}		/*파일크기 td*/
#NFU_file_list tr td:nth-child(4) {width:120px;text-align:left;}	/*진행바 td*/
#NFU_file_list progress {width:60px;}								/*진행바 progress*/
.file_selected {background-color:#70c8d8;color:#ffffff;}			/*파일선택 클래스*/


/*파일등록 안내메세지*/
#NFU_drag_msg td span{display:inline-block;height: 75px;/* padding-top:55px; */line-height: 15px;padding-left:35px; background: url('/nfu/img/mouse.png') no-repeat 0 5px;font-size:11px;text-align: left;color:#59b1c1;}


/* 버튼기본정의 */
.NFU_cbtn{
	vertical-align:middle;
	display:inline-block;
	text-align:center; 	
	height:20px; 
	font-size: 13px; 
	padding: 3px 13px; 
	letter-spacing:0; 
	border-radius:2px; 
	/* font-weight:bold; */
}

.NFU_cbtn{	
	min-width:70px; 
	border:none; 
	cursor:pointer;
	height: 25px;
}
.NFU_cbtn_b{background:#444; color:#fff;}
.NFU_cbtn_b:hover{background:#222;}

.NFU_cbtn_g{background:#9b9b9b; color:#fff;}
.NFU_cbtn_g:hover{background:#888;}

.NFU_cbtn_point{background:#59b1c1; color:#fff;}
.NFU_cbtn_point:hover{background:#4ba3b3;}

.NFU_cbtn_point2{background:#6393d3; color:#fff;}
.NFU_cbtn_point2:hover{background:#4d7bba;}

.NFU_cbtn2{
	vertical-align:middle;
	display:inline-block;
	text-align:center; 	
	height:25px; 
	font-size:11px; 
	padding:5px 13px 0 13px; 
	letter-spacing:0; 
	border-radius:2px; 
	font-weight:bold;
}
.NFU_cbtn2{	
	min-width:70px; 
	border:none; 
	cursor:pointer;
	height:30px;
}