@charset "utf-8";


#wrapper{position:relative;width:100%;}
.wsize{width:1200px;margin:0 auto;display:inline-block;text-align:left;font-size: 0;}



/* 상단팝업 */
#thead_pop{position: relative;background:#ffd9de;}
#thead_pop .cont{overflow: hidden;position: relative;width: 1200px;margin: 0 auto;font-size: 0;}
#thead_pop .cont .cont{text-align:center;width:1100px;margin:0 auto;position:relative;height:120px;}
#thead_pop .cont a.toppop{width:100%;display:block;}
#thead_pop .cont a.close_btn{position:absolute;right:0;top:35px;z-index:10; display:inline-block;z-index:2;}
#thead_pop .cont .free_day{width:100%;height:120px;text-align:center;}
#thead_pop .cont .free_day .box{display:inline-block;height:120px;padding:0 120px;background:url(/nanum/site/builder/skin/skin03/img/common/top_free.png) no-repeat left bottom;}
#thead_pop .cont .free_day .box .btxt{margin:28px 0 8px 0;color:#fff;font-size:25px;letter-spacing:-1px;font-family:'NanumSquareR';}
#thead_pop .cont .free_day .box .btxt span{color:#00deff;}
#thead_pop .cont .free_day .box .btxt strong{font-weight:normal;font-family:'NanumSquareR';}
#thead_pop .cont .free_day .box .stxt{color:#9ca1af;font-size:14px;font-family:'NanumSquareR';}


/* 상단메뉴 */
#head{position:relative;height:100px;text-align: center;border-bottom: 1px solid #e5e5e5;box-sizing: border-box;}
#head h1.logo{float: left;font-size:0;line-height:0;margin:12px 0 0 15px;z-index:10;}
#head h1.logo a{display:block;}
#head h1.logo a img{width: 100%;}
#head .aside_menu{display:inline-block;float: right;margin-top: 30px;}
#head .aside_menu li{float:left;display:inline-block;line-height: 40px;background: url(/nanum/site/builder/skin/skin01/img/common/icon_login.gif) no-repeat 0 50%;}
#head .aside_menu li.peo{margin-top:10px;}
#head .aside_menu li.in{background: url(/nanum/site/builder/skin/skin01/img/common/icon_peo.gif) no-repeat 0 50%;margin-left: 10px;}
#head .aside_menu li a{display: block;font-size: 14px;color: #000;text-align: center;padding: 0 0 0 45px;;border: 1px solid rede;}

#menu_navi ul > li > a{color:#000;}
#menu_navi{float:left;margin-left: 75px;display:inline-block;}
#menu_navi #menu_area{position:relative;display:inline-block;}
.gnb_bg1{display:none;position:absolute;z-index:90;top: 99px;left:0;width:100%;height: 210px !important;border-top:1px solid #b5b5b5;background:#fff;}

#menu_navi ul{display:inline-block; text-align:center;}
#menu_navi ul > li{position:relative;float:left;text-align:center;width: 175px;}
#menu_navi ul > li > a{display:inline-block;color:#000;z-index:90;font-size: 19px;font-weight: 600;line-height: 100px;width:100%;transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px transparent;position: relative;overflow: hidden;letter-spacing:-1.5px;} 
 
#menu_navi #menu_area > ul > li > .two_depth:before {content: "";position: absolute;z-index: -1;left: 0;right: 0;top: 0;background: #d84842;height: 0px;-webkit-transform: translateY(0px);transform: translateY(0px);-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;}
#menu_navi #menu_area > ul > li:hover > a:before, 
#menu_navi #menu_area > ul > li:focus > a:before, 
#menu_navi #menu_area > ul > li:active > a:before {-webkit-transform: translateY(0);transform: translateY(0);}
#menu_navi #menu_area > ul > li:hover > a{color:#f08d00;}
#menu_navi #menu_area > ul > li:hover div.two_depth{background:#fbf1d4 url(/nanum/site/builder/skin/samplep01/img/common/menu_over.gif) no-repeat top center}

#menu_navi ul li div.two_depth{padding-top:20px;position:absolute;width:100%;height:189px !important;display:none;background-color: #ffffff;margin:1px -1px;z-index:100;}

#menu_navi ul li div.two_depth ul li{position:relative;margin:0;padding:0;width:100%;}
#menu_navi ul li div.two_depth ul li::after{background-image:none;}
#menu_navi ul li div.two_depth ul li a {position:relative;display:block;margin:0;padding:8px 0;font-size:16px;color:#555;word-break:keep-all;letter-spacing:-0.05em;line-height:20px;text-align:center;}
#menu_navi ul li div.two_depth ul li a:hover{color:#f08d00;}
#menu_navi ul li div.two_depth ul li a:hover span{border-bottom:1px solid #f08d00;}
/* 메뉴마스크 */
.header_dimmed{z-index:25;width:100%;height:100%;position:fixed;left:0;display:none;opacity:0.6;font-size:0;line-height:0;background-color:#000;}

.mobile_menu{display:none;}
.menu-wrap,
.menu-button{display:none;}

.search_menu{float:right;width:26px;background:url(/nanum/site/builder/main/sample01/img/main_search.png) no-repeat 50%;}
.search_menu a{display:block;width:100%;height:95px;}


/* 메인 검색 */
.tsearch_w{position:absolute;top:137px;left:0;width:100%;padding:25px 0;border-top:1px solid #ededed;background:#fff;z-index:100;box-shadow:0 26px 20px rgba(0,0,0,0.2)}
.tsearch_w .search_wrap1{position: relative;width:1000px;margin:0 auto;}
.tsearch_w .search_wrap1 .search_inp{width: 930px;font-size: 20px;font-family: 'NotoKrM', sans-serif; color: #444; padding: 0 50px 0 20px;height: 58px;line-height: 58px;border: none;border-bottom: 2px solid #000;}
.tsearch_w .search_wrap1 label{position: absolute;left: 20px; height: 58px;font-size: 20px;line-height: 58px;color: #b3b3b3; letter-spacing:-1px;}
.tsearch_w .search_wrap1 input,
.tsearch_w .search_wrap1 input:focus{background-color:0 !important;}
.tsearch_w .search_wrap1 .search_inp{width: 930px;font-size: 20px;font-family: 'NotoKrM', sans-serif;color: #444;padding: 0 50px 0 20px;height: 58px;line-height: 58px;border: none;border-bottom: 2px solid #000;background:0} 
.tsearch_w .search_wrap1 .search_btn{position: absolute;top: 13px;right: 20px;width: 33px; height: 32px; text-indent: -9999px; font-size: 0; cursor: pointer;line-height: 0;border: none;padding: 0;margin: 0; background: url(/nanum/site/builder/main/sample01/img/main_search.png) no-repeat left top;}
    
#container{width:100%;min-width:1200px;text-align:center;position:relative;overflow:hidden;font-size:0;}



.mobile_menu{display:none;}
.menu-wrap,
.menu-button{display:none;}






/******************************1024******************************/
@media all and (max-width:1024px){



.wsize{width:100%;}

/* 상단팝업 */
#thead_pop{display:none !important;}

/* 상단메뉴 */
#container{min-width:320px;}
#head{min-width:auto;height: 70px;}
#head h1.logo{width:115px;margin-top:5px;}
#head .aside_menu{display:none;}


/* 메뉴 */
#menu_navi {display:none;}	
	
/* 모바일메뉴 */
.viewAllMenu{display:block;}
.viewAllMenu.open{position:fixed;right:0;top:0;width:90%;height:100%;box-sizing:border-box;z-index:9999;}
.viewAllMenu.open .btnViewAll{display:none;}
.viewAllMenu>button{display:block;position:absolute;right:0;top: 50%;width: 64px;height: 64px;text-indent:-9999em;z-index:8;cursor:pointer;border:0;margin-top: -32px;background:url(/nanum/site/builder/skin/common/img/mmenu.png) no-repeat 50% 50%;background-size:25px auto;}
.viewAllMenu .con{display:none;position:relative;width:100%;height:100%;padding:0;box-sizing:border-box;z-index:1;background:#fff;}
.viewAllMenu.open .con{display:block;}
.viewAllMenu .con .mem_log{position:absolute;top:0;left:0;width:100%;height:70px;padding:0 20px;background: #f3b500;z-index:20;box-sizing:border-box;}
.viewAllMenu .con .mem_log ul{float:left;}
.viewAllMenu .con .mem_log ul li{display:table;float:left;height:70px;margin-right:20px;vertical-align:middle;}
.viewAllMenu .con .mem_log ul li a{display:table-cell;font-size:14px;color: #000;letter-spacing:-0.05em;vertical-align:middle;}
.viewAllMenu .con .mem_log ul li a br{display:none;}

.viewAllMenu .con nav{overflow-y:scroll;width:100%;height:100%;padding: 140px 20px 70px 20px;box-sizing:border-box;/* vertical-align:middle; */text-align:left;}
.viewAllMenu .con nav > ul{width:100%;}
.viewAllMenu .con nav > ul > li{border-bottom:1px solid #e5e5e5;}
.viewAllMenu .con nav > ul > li > a{display:block;padding:15px 10px;background-image:url(/nanum/site/builder/skin/common/img/mmenu_arr.png);background-repeat:no-repeat;background-position:95% 50%;background-size: 6px auto;font-size:17px;color:#000;}
.viewAllMenu .con nav > ul > li > a.on{font-weight: 700;background-image:url(/nanum/site/builder/skin/common/img/mmenu_close.png);color: #e0a500;}
.viewAllMenu .con nav > ul > li span{display:inline-block;}
.viewAllMenu .con nav > ul > li:nth-child(1) span{transform: translate(20px, 0px);}
.viewAllMenu .con nav > ul > li:nth-child(2) span{transform: translate(40px, 0px);}
.viewAllMenu .con nav > ul > li:nth-child(3) span{transform: translate(60px, 0px);}
.viewAllMenu .con nav > ul > li:nth-child(4) span{transform: translate(80px, 0px);}
.viewAllMenu .con nav > ul > li:nth-child(5) span{transform: translate(100px, 0px);}
.viewAllMenu .con nav > ul > li:nth-child(6) span{transform: translate(120px, 0px);}
.viewAllMenu .con nav .jsMsubMenu{width:100%;}
.viewAllMenu .con nav .jsMsubMenu > ul{display:inline-block;width:100%;background:#f9f9f9;}
.viewAllMenu .con nav .jsMsubMenu > ul > li > a{display:block;padding:10px 15px;border-top:1px solid #e5e5e5;box-sizing:border-box;background-repeat:no-repeat;background-position:100% 50%;background-size:19px auto;font-size:17px;color:#555;}

.viewAllMenu .btnAllClose{display:none;top: 35px;background:url(/nanum/site/builder/skin/common/img/mmenu_close.png) no-repeat 50% 50%;background-size:25px auto;z-index:1;}
.viewAllMenu.open .btnAllClose{display:block;}

.maside_menu{position:absolute;top:0;left:20px;height:40px;padding:15px 0;}
.maside_menu a{display:inline-block;height:30px;line-height:30px;font-size:15px;font-family:'Poppins','NotoKrM', sans-serif; font-weight:500;color:#333;vertical-align:middle;}
.maside_menu a p{display:block;float:left;margin-left:10px;line-height:25px;}
.maside_menu a span{display:block;float:left;margin-top:10px;width:30px;height:30px;background-color:#2560e2;background-repeat:no-repeat;background-position:center;border-radius:50%;}
.maside_menu .login{margin-right:20px;}
.maside_menu .login span{background-image:url(/nanum/site/builder/skin/common/img/m_icon_login.png);}
.maside_menu .join span{background-image:url(/nanum/site/builder/skin/common/img/m_icon_join.png);}

.dimmed{display:none;position:fixed;left:0;top:0;width:100%;height:100%;background:rgba(0,0,0,.6);z-index:50;}
	






}






/******************************767******************************/
@media all and (max-width:767px){


/* 상단 */
#head {position:relative;}
#head .wsize {}
#head .wsize .logo{margin:0;width: 100px;}
#head .wsize .logo a{width: 110px;margin: 7px 0 0 15px;}
#head .wsize .aside_menu{line-height:1;bottom: 45px;right: 0;}
#head .wsize .aside_menu li{display:none;}
#head .wsize .aside_menu li.mobile_btn{float:none;position:relative;margin-top:20px;display:block;width:35px; margin-right:20px;}
#head .wsize .aside_menu li.mobile_btn img{width:24px;}





}

/********************웹********************/
@media all and (min-width:1025px) {

.viewAllMenu{display:none;}

#thead_pop .cont .close{position:absolute;bottom:10px;right:0;font-size:14px;color:#555;letter-spacing:-0.05em;z-index:10;}



}

