@charset "utf-8";

/* 중간영역 */
#container .wsize{width:1200px;margin:0 auto;display:inline-block;margin-bottom:100px;text-align:left;}


/* 사이드메뉴 - 제목*/
#sidebar{position:relative;float:left;width: 250px;z-index:11}
#sidebar .stit{height: 130px;margin-top: 40px;overflow: hidden;background:url(/nanum/site/builder/skin/skin01/img/common/side_bg01.gif) no-repeat right 10px bottom;}
#sidebar .stit h2{color: #222;font-size: 30px;text-align: left;word-break:keep-all;}
#sidebar .tit{display:none;}

#sidebar .left_gobtn{display:inline-block;width: 100%;margin-top: 50px;border-top: 2px solid #ffc600;border-bottom: 1px solid #919191;}
#sidebar .left_gobtn ul li{border-bottom: 1px dotted #ddd;}
#sidebar .left_gobtn ul li:last-child{border-bottom:0;}
#sidebar .left_gobtn ul li a{display: block;line-height:50px;font-size: 15px;font-weight: 600;padding-left: 65px;}
#sidebar .left_gobtn ul li.icon01{background:url(/nanum/site/builder/skin/skin01/img/common/icon_left05.gif) no-repeat 20px 50%;}
#sidebar .left_gobtn ul li.icon02{background:url(/nanum/site/builder/skin/skin01/img/common/icon_left04.gif) no-repeat 20px 50%;}
#sidebar .left_gobtn ul li.icon03{background:url(/nanum/site/builder/skin/skin01/img/common/icon_left03.gif) no-repeat 20px 50%;}
#sidebar .left_gobtn ul li.icon04{background:url(/nanum/site/builder/skin/skin01/img/common/icon_left02.gif) no-repeat 20px 50%;}
#sidebar .left_gobtn ul li.icon05{background:url(/nanum/site/builder/skin/skin01/img/common/icon_left01.gif) no-repeat 20px 50%;}

#sidemenu > ul li{position:relative;margin-bottom: 10px;}
#sidemenu > ul li a{display:block;padding:15px 30px;font-size: 16px;font-weight: 500;color: #333;word-break:keep-all;box-sizing:border-box;border-radius: 10px;background: #f5f5f5;}
#sidemenu > ul li.on{z-index:1;}
#sidemenu > ul li a:hover,
#sidemenu > ul li.on a,
#sidemenu > ul li.on a:hover{color: #000;font-weight: 700;border-radius: 10px;box-shadow: 4px 5px 0px #997b14;background: #ffc600 url(/nanum/site/builder/skin/skin01/img/common/leftmenu_on.gif) no-repeat 90% 50%;}
#sidemenu > ul li div{display:none;}
#sidemenu > ul li.on div{display:block;padding:15px 20px; margin-top: 5px;border-radius: 15px;background: #fff8de;}
#sidemenu > ul li.on div ul{border-bottom:0 none;}
#sidemenu > ul li.on div ul li{border:0 none;}
#sidemenu > ul li.on div ul li a{font-size:15px;color:#666;padding:2px 0 2px 12px;background:0;box-shadow:none;}
#sidemenu > ul li.on div ul li.on a,
#sidemenu > ul li.on div ul li a:hover{color: #000;text-decoration: underline;text-underline-position: under;box-shadow: none;font-size: 15px;background:none;}
#sidemenu > ul li.on div ul li.on a{}
#sidemenu > ul li img{vertical-align:middle;margin:-3px 0 0 10px;}
#sidemenu .ban_guide {margin-top:10px; width:100%; padding: 25px 20px; border: 1px solid #ddd; display: inline-block; box-sizing: border-box; border-radius: 10px; cursor:pointer;
background:url(/nanum/site/builder/skin/skin03/img/common/left_ban_bg.gif)no-repeat right 20px center; font-size:14px; letter-spacing:-2px;
background-size:22%; }
#sidemenu .ban_guide:hover {border: 1px solid #222; box-shadow: 0px 8px 10px #ddd;}
#sidemenu .ban_guide span {font-size:17px; color:#000; margin-bottom:12px; display:block; font-weight:800; }

/*사이드 메뉴 바로가기 버튼*/
.side_quick{display: inline-block;width: 100%;height: 140px;margin-top: 50px;border-top: 2px solid #999;/* padding:0 20px 0 100px; */box-sizing:border-box;background: #f9f9f9 url(/nanum/site/builder/skin/skin01/img/common/img_sidemenu.png) no-repeat 20px 50%;}
.side_quick ul li{display:inline-block;width: 130px;height:70px;margin-left: 100px;}
.side_quick ul li:last-child{border-top:1px solid #d5d5d5;}
.side_quick ul li a{font-size:16px;color:#555;line-height:70px;padding-left:10px;}

#contents{float:right;width: 900px;min-height:600px;}
#cont_head{overflow:hidden;clear:both;width:100%;height: 130px;margin:40px 0;background: url(/nanum/site/builder/skin/skin01/img/common/h2_line.gif) repeat-x bottom;}
#cont_head h2{float:left;padding-top: 55px;font-size: 35px;font-weight: 600;line-height: 1;letter-spacing: -0.05em;color: #000;}
#location{float:right;padding-top:70px;}
#location ul{overflow:hidden;clear:both;}
#location ul li{float:left;padding-left: 15px;margin-left: 10px;font-size: 15px;letter-spacing:-1px;color:#333;background:url(/nanum/site/builder/skin/skin01/img/common/locatin_line.gif) no-repeat 0 50%;line-height: 22px;}
#location ul li:first-child{padding-left: 10px;width:13px;height: 22px;vertical-align:middle;text-indent:-9999px;background:url(/nanum/site/builder/skin/skin01/img/common/home.gif) no-repeat 0 50%;}
#location ul li.now{color: #000;font-weight: 600;}

#cont_wrap{font-size:17px;line-height:26px;color:#222;}
#cont_wrap .wait{width:100%;padding-top:80px;text-align:center;}


/*프린터 엑셀*/
.share{position:absolute;right:0;top: 60px;}
.share a{float:left;display:block;width:45px;height:45px;border-radius: 17px;box-sizing:border-box;}
.share a.btn_print{border:1px solid #d5d5d5;background:#fff url(/nanum/site/builder/skin/skin01/img/common/icon_print.gif) no-repeat 50% 50%;}
.share a.btn_excel{margin-left: 15px;border:1px solid #1e7145;background:#1e7145 url(/nanum/site/builder/skin/skin01/img/common/icon_excel.gif) no-repeat 50% 50%;}




/********************웹********************/
@media(min-width:1024px){

#sidemenu ul{display:block !important;}

    

}


/******************************1024******************************/
@media all and (max-width:1024px){


/* 중간영역 */
#container .wsize{width:100%;margin-bottom:50px;}


/* 사이드메뉴 - 제목*/
#sidebar{display:none;}
#sidebar .left_gobtn{display:none;}

#contents{float:none;width:100%;min-height:auto;padding: 0 15px;box-sizing: border-box;}
#cont_head{height: auto;width:96%;margin:0 auto 30px;text-align:center;border-bottom: 0;}
#cont_head h2{float:none;padding-top:35px;font-size:26px;}
#location{float: none;padding:15px 0;display: inline-block;}
#location ul li{float:none;display:inline-block;padding-left:18px;margin-left:12px;font-size:13px;}
#location ul li:first-child{vertical-align:top}

#cont_wrap{min-height:auto;width:auto;margin:0 auto;font-size:15px;}

/*사이드 메뉴 바로가기 버튼*/
.side_quick{display:none;}
    

/* 사이드메뉴 - 제목*/
#sidebar{display:block;position:relative;float:none;width:100%;}
#sidebar .stit{display:none;}
#sidebar .tit{display:block;width:100%;text-align:left;background: #eaae00;}
#sidebar .tit a{display:block;padding:0 20px;height:52px;line-height:52px;color:#fff;font-size:18px;background:url(/nanum/site/builder/skin/common/img/sidebar_bu2.png) no-repeat right 20px top 14px; background-size:26px 26px; }

#sidemenu ul{position:absolute;top:52px;left:0;display:none;width:100%;border-bottom:1px solid #576071;}
#sidemenu ul li {margin-bottom:0; border:0; border-top: 1px solid #dfdfdf;}
#sidemenu ul li:first-child{border-top:0}
#sidemenu ul li a{background:#fff;padding:15px 20px;}
#sidemenu ul li.on{border-top:1px solid #576071;}
#sidemenu ul li.on a,
#sidemenu ul li.on a:hover{color: #fff;border-bottom: 0;border-radius: 0;box-shadow: none;background: #3e3c33;}
#sidemenu ul li.on div{background:#f8f8f8;}
#sidemenu ul li.on div ul{position:relative;top:auto;display:block;overflow:hidden;clear:both;}
#sidemenu ul li.on div ul li{float:left;width:50%;}
#sidemenu ul li.on div ul li a:hover{color:#000;}
#sidemenu .ban_guide {display:none;}

#sidemenu > ul li a:hover{box-shadow: none;background: #fff none;background-position:right 15px center;}

}



/******************************767******************************/
@media all and (max-width:767px){



/*컨텐츠상단영역*/
#cont_head{display:none;}

#cont_wrap{padding-top:20px;}
#cont_wrap .wait img{width:100%;}


}




/******************************640******************************/
@media all and (max-width:640px){


#location{display:none;}

}




/******************************480******************************/
@media all and (max-width:480px){


#cont_head{display:none;}

}


