@charset "utf-8";

/*개인나눔 사연신청*/
.program_how dl{line-height:1;border-bottom:1px solid #e5e5e5;box-sizing:border-box;padding:30px 0 30px 130px;}
.program_how dl dt{font-size:19px;font-weight:600;}
.program_how dl dd{margin-top:20px;}

.program_how dl.icon01{background:url(/nanum/site/builder/dir/main/img/menu2585/join_icon01.gif) no-repeat 0 50%;}
.program_how dl.icon02{background:url(/nanum/site/builder/dir/main/img/menu2585/join_icon02.gif) no-repeat 0 50%;}
.program_how dl.icon03{background:url(/nanum/site/builder/dir/main/img/menu2585/join_icon03.gif) no-repeat 0 50%;}
.program_how dl.icon04{background:url(/nanum/site/builder/dir/main/img/menu2585/join_icon04.gif) no-repeat 0 50%;}
.program_how dl.icon05{background:url(/nanum/site/builder/dir/main/img/menu2585/join_icon05.gif) no-repeat 0 50%;}


/*학교나눔 교통안전교육*/
.traffic_info .purpose{word-break: keep-all;padding: 0 0 50px 340px;margin-bottom: 50px;border-bottom: 2px solid #000;box-sizing: border-box;background: url(/nanum/site/builder/dir/main/img/menu2585/traffic_edu_bg.gif) no-repeat 0 0;}
.traffic_info .purpose p.tit{font-size: 25px;font-weight: 600;line-height: 1;padding-top: 30px;}
.traffic_info .purpose p.txt{margin-top: 20px;}

.traffic_bx{display: inline-block;width: 100%;}
.traffic_bx dl{float: left;width: 445px;height: 190px;border-radius: 20px;padding: 30px;box-sizing: border-box;background: #e0f9f3;}
.traffic_bx dl.bx2,
.traffic_bx dl.bx4{margin-left:10px;}
.traffic_bx dl.bx3,
.traffic_bx dl.bx4{margin-top:10px;}
.traffic_bx dl dt{font-size:19px;font-weight:600;color:#14a17f;line-height:1;margin-bottom:15px}
.traffic_bx dl dd{font-size:16px;color:#4d6e68;padding-left: 8px;background: url(/nanum/site/builder/dir/main/img/menu2585/green_dot.jpg) no-repeat 0 10px;}

.traffic_bx.type2{margin-top:30px;}
.traffic_bx.type2 dl{background:#e7f2ff;}
.traffic_bx.type2 dl.bx2 dd{display:inline-block;float:left;width: 184px;}
.traffic_bx.type2 dl dt{color:#166bd0;}
.traffic_bx.type2 dl dd{color:#5d7189;background: url(/nanum/site/builder/dir/main/img/menu2585/blue_dot.jpg) no-repeat 0 10px;}

/*프로그램 신청*/
.edu_join{margin-bottom:50px}
.edu_join ol{display:inline-block;width:100%;}
.edu_join ol li{float: left;width:202px;height:235px;text-align: center;color:#333;word-break: keep-all;margin-left: 30px;border: 1px solid #ebca55;border-radius: 20px;padding: 110px 40px 30px 40px;box-sizing: border-box;}
.edu_join ol li:first-child{margin-left:0;}
.edu_join ol li span{display: inline-block;font-weight:600;color:#ff614f;line-height: 1;}
.edu_join ol li p{font-size: 16px;margin-top: 10px;line-height: 25px;}

.edu_join ol li.icon01{background: url( /nanum/site/builder/dir/main/img/menu2585/icon_step01.gif) no-repeat 50% 20px;}
.edu_join ol li.icon02{background:url( /nanum/site/builder/dir/main/img/menu2585/icon_step02.gif) no-repeat 50% 20px;}
.edu_join ol li.icon03{background:url( /nanum/site/builder/dir/main/img/menu2585/icon_step03.gif) no-repeat 50% 20px;}
.edu_join ol li.icon04{background:url( /nanum/site/builder/dir/main/img/menu2585/icon_step04.gif) no-repeat 50% 20px;}




/******************************1024******************************/
@media all and (max-width:1024px){
	
	


/*학교나눔 교통안전교육*/	
.traffic_bx dl{width: 100%;height:auto;margin-top:10px;}	
.traffic_bx dl.bx2,
.traffic_bx dl.bx4{margin-left:0;}	

.traffic_bx.type2 dl.bx2 dd{width:48%;}


/*프로그램 신청*/
.edu_join ol li{width:162px;padding:110px 20px 30px 20px;}


	

	
	
	
	
	
	
	
	
	
}



/******************************767******************************/
@media all and (max-width:767px){


/*개인나눔 사연신청*/
.program_how dl{padding-left:75px;background-size: 50px !important;}
.program_how dl dt{font-size:17px;}
.program_how dl dd{margin-top:10px;line-height:22px;}	


/*학교나눔 교통안전교육*/	
.traffic_info .purpose{padding:140px 0 20px 0;margin-bottom: 20px;background-position:50% 0;}
.traffic_info .purpose p{text-align: center;}
.traffic_info .purpose p.tit{font-size:19px;}
.traffic_info .purpose p.txt{margin-top:10px;}

.traffic_bx dl{padding:20px;}
.traffic_bx dl dt{font-size: 17px;margin-bottom: 5px;}	
.traffic_bx dl dd{font-size: 15px;}
	
	
/*프로그램 신청*/
.edu_join{margin-bottom:0;}
.edu_join ol li{width:100%;height:auto;padding:95px 10px 20px 10px;margin: 10px 0 0 0;}
.edu_join ol li p{margin-top:0;}
	
	
	
	
	
}


