@charset "utf-8";

/*a, a:link {color: #575757; text-decoration: none; cursor: pointer; }
a:visited {color: #575757;}
a:hover, a:active, a:focus {color: #575757; text-decoration: underline;}*/
legend {visibility:hidden; display:none; height:0; width:0; font-size:0;}

table {border-spacing:0;}
select {font-size:12px;}
input.poll_input {border:1px solid #cdcdcd; height:20px; padding:3px 3px 0px 3px; font-size:12px; background:#fff;}
input.poll_input_file {width:90%; border:1px solid #cdcdcd; padding:3px 3px 0px 3px; font-size:12px; background:#fff;}
textarea {border:1px solid #cdcdcd; font-size:12px;}
.display_none {display:none;}


#poll {margin:0 auto; }

#poll .poll_total {width:100%;display:inline-block;padding-bottom:5px;}
#poll .poll_total_left {float:left; font-size:13px;color:#777;padding-top:10px;}
#poll .poll_total_left img{margin-right:5px;margin-top:-2px;vertical-align:middle;}
#poll .poll_total_right {float:right;}
#poll .poll_total img {padding-left:3px;vertical-align:middle;}
#poll div.poll_total .poll_orange{color:#F96F00;}
#poll .poll_button {width:100%; margin-top:5px; text-align:right;}
#poll .guide span {float:right; color:#838383;font-size:13px; font-weight:normal;padding-bottom:5px;vertical-align:middle;}
#poll .guide span img{vertical-align:middle;margin-right:3px;}
#poll span.category_color {color:#979797;vertical-align:middle;}


a.con_btn,
input.con_btn{display:inline-block;margin:0 3px;color:#fff;padding:12px 25px 13px 25px;font-weight:normal;font-size:15px;line-height:normal;vertical-align:middle;text-align:center;cursor:pointer;border:0;}
.con_btn.dgray,
.con_sbtn.dgray{background:linear-gradient(45deg, #858585 0%,#a2a2a2 54%);}
.con_btn.dgray:hover,
.con_sbtn.dgray:hover{background:#858585;}


/* List */
#poll .table_blist {clear:both;}
#poll .table_blist table {width:100%; border-collapse:collapse;border-top:2px solid #222;font-size:15px;}
#poll .table_blist table caption {display:none;}
#poll .table_blist th,
#poll .table_blist td{text-align:center;padding:12px 0;border-bottom:1px solid #dfdfdf}
#poll .table_blist thead th {text-align:center; border-bottom:1px solid #ccc;}
#poll .table_blist thead th.th_none {background-image:none;}
#poll .table_blist tbody td img {vertical-align:middle;}
#poll .table_blist tbody td span.reply_count {color:#EE5A00; font-size:0.9em; font-weight:normal; letter-spacing:-0.1em;}
#poll .table_blist tbody td.notice {background-color:#FBFBFB;}
#poll .table_blist tbody td.title {text-align:left;}
#poll .table_blist tbody td.center {text-align:center;}

/*진행버튼*/
span.orange strong{display: inline-block;padding: 7px 10px;font-size:14px;line-height: 1;border-radius: 3px;background: #ffc600;}/*진행*/
span.orange strong.finish{color:#fff !important;background: #555;}/*완료*/

/*보기버튼*/
.look{display:inline-block;padding: 7px 10px;font-size:14px;line-height: 1;color:#fff !important;border-radius: 3px;background:#ff5050;}


/* Write */
#poll .table_bwrite {clear:both; padding-top:20px;}
#poll .table_bwrite table{width:100%; line-height:16px; border-collapse:collapse;}
#poll .table_bwrite table caption{display:none;}
#poll .table_bwrite thead th {padding:8px 0 6px 0;color:#373737;font-weight:bold;line-height:130%;background: #ffc600;}
#poll .table_bwrite thead th.subject {width: 95%;padding:10px 0;}
#poll .table_bwrite thead th.count {width: 5%;padding:10px 0 10px 20px;}
#poll .table_bwrite thead th.count span{display:inline-block;width:35px;height:35px;line-height:35px;font-size:13px;text-align:center;border-radius:50px;color: #fff;margin-right:15px;background: #000;}
#poll .table_bwrite tbody td.content{padding: 30px 20px 15px;font-size:14px;border-bottom: 1px solid #e5e5e5;}
#poll .table_bwrite tbody td.content div{font-size: 16px;line-height: 20px;word-break: keep-all;margin-bottom: 15px;}
#poll .table_bwrite tbody td.content div label input[type='radio']{vertical-align: middle;margin-top: 0;margin-right: 7px;}
#poll .table_bwrite table .poll_head{padding-bottom:15px;background:#fff;}

/* Title */
#poll_tit .title_bg {margin-bottom: 30px;}
#poll_tit .title {font-weight:bold;padding:15px;border-top: 2px solid #ffc600;border-bottom: 1px solid #a6a6a6;color:#000000;font-size: 17px;text-align:left;position:relative;z-index:1;background: #fff;}
#poll_tit .title span{display:inline-block;padding:3px 12px;font-size:13px;color:#fff;background: #ec5912;margin-right:15px;}
#poll_tit .title img {vertical-align:middle;}
#poll_tit .title_content {padding: 30px 30px 30px 150px;text-align:justify;margin-top:-1px;border-radius: 0 0 20px 20px;background: #fff0dc url(/nanum/site/builder/skin/skin01/img/common/icon_survey.png) no-repeat 40px 50%;}
#poll_tit .title_content ul {margin:0 0 0 20px;padding:0;}
#poll_tit .title_content li {font-size: 16px;font-weight: 600;margin-top: 3px;padding:2px 0 2px 10px;}
#poll_tit .title_content li:first-child{margin-top:0;;}
#poll_tit .title_content li strong{display: inline-block;width: 70px;border: 1px solid #222;line-height: 1;text-align: center;padding: 5px 0;margin-right: 5px;box-sizing: border-box;}


/* View */
#poll .table_bview {clear:both; padding-top:20px;}
#poll .table_bview table{width:100%; line-height:16px; border-collapse:collapse;}
#poll .table_bview table caption{display:none;}
#poll .table_bview thead th {padding:8px 0 6px 0;color:#373737;font-weight:bold;line-height:130%;background: #ffc600;}
#poll .table_bview thead th.subject {padding:10px 0;}
#poll .table_bview thead th.count {padding:10px 15px 10px 20px;width:35px;}
#poll .table_bview thead th.count span{display:inline-block;width:35px;height:35px;line-height:35px;font-size:13px;text-align:center;border-radius:50px;color: #fff;margin-right:15px;background: #000;}
#poll .table_bview tbody td.content{padding: 20px 0 25px;font-size:14px;border-bottom: 1px solid #e5e5e5;}
#poll .table_bview tbody td.content div{display: inline-block;font-size: 16px;line-height: 20px;margin-top: 5px;}
#poll .table_bview table .poll_head{padding-bottom:15px;background:#fff;}
.all_look{padding:5px 8px;display: inline-block;
    width: 90px;
    font-size: 15px;
    color: #fff !important;font-weight: normal;text-align: center;
    margin-right: 10px;border: 0;background: #000;}




#poll .total_result {width:100%;}
#poll .result01 {float:left;width:50%; background:transparent url(/nanum/site/poll/img/bull_list.gif) no-repeat scroll 1px 36%;padding-left: 10px;}
#poll .result02 {float:left;width:50px; text-align:right;}
#poll .result03 {float:left;width:100px; text-align:right;}
#poll .result04 {float:left;width:150px;margin-left:10px;}
#poll .graph01 {background-image:url(/nanum/site/poll/img/graph_bar01.gif);height:13px;}
#poll .graph02 {background-image:url(/nanum/site/poll/img/graph_bar02.gif);height:13px;}
#poll .graph03 {background-image:url(/nanum/site/poll/img/graph_bar03.gif);height:13px;}
#poll .graph04 {background-image:url(/nanum/site/poll/img/graph_bar04.gif);height:13px;}
#poll .graph05 {background-image:url(/nanum/site/poll/img/graph_bar05.gif);height:13px;}
#poll .graph06 {background-image:url(/nanum/site/poll/img/graph_bar01.gif);height:13px;}
#poll .graph07 {background-image:url(/nanum/site/poll/img/graph_bar02.gif);height:13px;}
#poll .graph08 {background-image:url(/nanum/site/poll/img/graph_bar03.gif);height:13px;}
#poll .graph09 {background-image:url(/nanum/site/poll/img/graph_bar04.gif);height:13px;}
#poll .graph10 {background-image:url(/nanum/site/poll/img/graph_bar05.gif);height:13px;}
#poll .clear {clear:both;padding-bottom:6px;}


/* View Popup */
#poll_popup {width:100%;}
#poll_popup .table_bview {clear:both;color:#373737; font-weight:bold;display:inline-block;width:100%;padding: 10px 0 10px 10px;box-sizing: border-box;background: #ffc600;}
#poll_popup .table_bview .subject{float:left;line-height:35px;font-size:15px;}
#poll_popup .table_bview div.count {float:left;}
#poll_popup .table_bview div.count span{display:inline-block;width:35px;height:35px;line-height:35px;font-size:13px;text-align:center;border-radius:50px;color: #fff;margin-right:15px;background: #000;}
#poll_popup  .con_btn.blue,
#poll_popup  .con_sbtn.blue{display: block;width: 110px;color:#fff;margin: 0 auto;background:#3c4855;}


#poll_popup .table_blist {clear:both; text-align:center; margin:0 auto; padding-top:20px; padding-bottom:20px;}
#poll_popup .table_blist table{width:100%; line-height:16px; border-collapse:collapse; border-top: 2px solid #ffc600; }
#poll_popup .table_blist table caption{display:none;}
#poll_popup .table_blist thead th {border:1px solid #DCDCDC;  background: #fffbee; color: #000000;  font-size: 15px;letter-spacing:-0.1em; }
#poll_popup .table_blist thead th.th_none {background-image:none;}
#poll_popup .table_blist tbody td{ border:1px solid #DCDCDC; background:#ffffff; text-align:center; line-height:140%;}
#poll_popup .table_blist tbody td.notice {background-color:#FBFBFB;}
#poll_popup .table_blist tbody td.title {text-align:left;padding:4px;}
#poll_popup .table_blist tbody td.center {text-align:center;}
#poll_popup .table_blist th,
#poll_popup .table_blist td{font-size:14px;padding:12px;}

/* Paginate */
.poll_paginate{margin:30px 0 0 0;text-align:center;letter-spacing:0;}
.poll_paginate a,
.poll_paginate strong{display:inline-block;width:38px;height:38px;text-decoration:none;cursor:pointer;color:#000;font-size:13px;line-height:38px;font-weight:bold;border:1px solid #fff;border-radius:100%;}
.poll_paginate a:hover{background:#e5e5e5;}
.poll_paginate strong{border:1px solid #222;font-weight:bold;cursor:pointer;}
.poll_paginate img{vertical-align:middle;}





/* Button */
.poll_button {clear:both;}
.poll_button .fl {float:left;}
.poll_button .fr {float:right; overflow:hidden;}
.poll_button .pt10 {padding-top:10px;}


.poll_button ul li {float:left;}
.poll_button ul li.pl {padding-left:10px;}
.poll_button ul li.pt {padding-top:7px;}
.poll_button span.bt {float:right; padding-top:10px; padding-left:4px; text-align:right;}
.poll_button2 {display: inline-block;width: 100%;padding-top:10px;margin-top: 50px;text-align: center;}




.poll_bt01 {display:inline;}
.poll_bt01 a{display:inline; overflow:hidden; float:left; height:22px; padding-left:13px; margin-right:3px; font:12px dotum; letter-spacing:-1px; color:#6B6B6B; text-decoration:none; background:url(/nanum/site/poll/img/bt01_bg.gif) left 0; cursor:pointer;}
.poll_bt01 a:hover{background:url(/nanum/site/poll/img/bt01_bg.gif) left -22px; text-decoration:none;}
.poll_bt01 a span{display:inline; overflow:hidden; float:left; height:22px; padding-right:10px; line-height:200%; background:url(/nanum/site/poll/img/bt01_bg.gif) right 0;}
.poll_bt01 a:hover span{color:#6B6B6B; background:url(/nanum/site/poll/img/bt01_bg.gif) right -22px;}

/* Search */
.poll_search {width:330px; margin:0 auto; margin-top:18px;}
.poll_search ul {float:left;}
.poll_search ul li {float:left;}
.poll_search ul li.board_search_start {float:left; width:18px; height:35px; background:url(/nanum/site/board/nninc_simple/img/search_left.gif); background-repeat:no-repeat;}
.poll_search ul li.board_search_end {float:left; width:18px; height:35px; background:url(/nanum/site/board/nninc_simple/img/search_right.gif); background-repeat:no-repeat;}
.poll_search ul li select {float:left;display: inline-block;width: 70px;height: 40px;line-height: 38px;font-size: 14px;cursor: pointer;padding: 0 10px;outline: 0;border: 0;border: 1px solid #dbdbdb;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;background: white;color: black;appearance: none;-webkit-appearance: none;-moz-appearance: none;background: url(/nanum/site/poll/img/category_select.png) right center no-repeat;}
.poll_search ul li.bt{width:40px;height: 40px;line-height:40px;text-align:center;background:#333;}
.poll_search ul li input.search_input {float:left;margin-left:5px;width: 200px;height: 38px;line-height: 38px;padding: 0 5px;border: 1px solid #dbdbdb;border-bottom: 1px solid #ccc;border-right: 1px solid #ccc;background: #fff;}
.poll_search ul li input.search_bt {/* float:left; */vertical-align: middle;}



.command_pwd {position:absolute; border:2px solid #C6C6C6; background-color:#ffffff; padding:8px 15px 8px 15px; text-align:center; vertical-align:middle; font-weight:bold; color:#313131; line-height:140%;}
.command_pwd li.text {float:left; letter-spacing:-0.1em; padding:0; font-size:0.9em; padding-top:4px;padding-right:4px;}
.command_pwd li {float:left; padding-left:3px;}
.command_pwd li img {height:20px;padding-top:1px;}


.pwd_check {width:90%; margin:0 auto; margin-top:20px; text-align:center; border-top:2px solid #C8C8C8; border-bottom:2px solid #DEDEDE; background-color:#ffffff; padding:25px; font-weight:bold; color:#313131; line-height:140%;}
.pwd_check *{margin:0; padding:0;}
.pwd_check span{color:#7D7D7D; letter-spacing:-1px; font-size:11px;}
.pwd_check li.text {letter-spacing:-0.1em; font-size:0.9em;}
.pwd_check li {}
.pwd_check_button {width:90%;margin:0 auto; text-align:center; padding-top:10px;}




/********************모바일********************/
@media(max-width:767px){

	

	
#poll .poll_total_left{float:none;width:100%;margin-bottom:5px;}
#poll .poll_total_right{float:none;width:100%;}
#poll .poll_total_right .bunru{border:1px solid #dbdbdb;padding:15px 0;background:#f8f8f8;text-align:center;}
#poll .poll_total_right li{display:inline-block;float:none;}

#poll .poll_total_left{float:none;width:100%;margin-bottom:5px;}
#poll .poll_total_right{float:none;width:100%;}
#poll .poll_total_right .bunru{border:1px solid #dbdbdb;padding:15px 0;background:#f8f8f8;text-align:center;}
#poll .poll_total_right li{display:inline-block;float:none;}


/*설문주제*/
#poll_tit .title_content{padding:120px 15px 15px 15px;background-position:50% 20px;background-size:70px auto;}
#poll_tit .title_content ul{margin-left:0;}
#poll_tit .title_content li{position:relative;font-size:15px;padding-left:90px;line-height: 26px;word-break:keep-all;}
#poll_tit .title_content li strong{position:absolute;left:10px;}


/* View */
#poll .table_bview table{table-layout:fixed;}
#poll .table_bview tbody td.content img{display:block;width:100%;min-width:300px;}


/* Paginate */
.poll_paginate a, 
.poll_paginate strong{width:30px;height:30px;line-height:30px;}



/* Button */
.poll_button {clear:both;width:100%;display:inline-block;padding-top:8px;}
.poll_button .fl {display:inline-block;width:100%;float:none;padding-bottom:15px;margin-bottom:15px;border-bottom:1px dashed #ccc;}
.poll_button .fl ul{text-align:center;}
.poll_button .fl ul li{display:inline-block;margin:0;float:none;}
.poll_button .fr {float:none; overflow:hidden;width:100%;text-align:center;}
.poll_button .fr a{float:none;display:inline-block;margin:0 2px;}
.poll_button .fr a:first-child{margin:0 2px;}


.poll_search {width:300px;margin:0 auto; margin-top:18px;}
.poll_search ul li input.search_input {float:left; width:170px;}


#poll .table_blist th,
#poll .table_blist td{font-size:13px;font-weight:normal;line-height: 17px;}

#poll .table_bwrite th,
#poll .table_bwrite td{font-size:13px;font-weight:normal;}

#poll .table_bwrite thead th.subject{text-align:left;}
#poll .table_bwrite tbody td.content{padding:20px 0;}
#poll .table_bwrite tbody td.content div{font-size:14px;}





}







