@charset "utf-8";

/* 스킵네비게이션 */
#skipnavigation {overflow:hidden; text-indent: -2000px; display:none; margin: 0; padding: 0; font-size: 0; line-height: 0;}

/* 전체외곽박스 */
#wrapper {position:relative; text-align:left;}

/* 컨텐츠 */
#content_wrap {position:absolute; width:100%; min-width:880px; min-height:100%; height:auto !important; *height:100%; }

/* 퀵 */
#quick_wrap {position:absolute; width:50px; min-height:100%; height:auto !important; *height:100%; z-index:3;}
#quick_wrap div {position:relative; z-index:2;}
#quick_wrap .area01 a {display:inline-block; width:50px; height:126px; padding-top:82px; text-align:center;}
#quick_wrap .area02 a {display:inline-block; width:50px; height:80px; padding-top:40px; text-align:center;}
#quick_wrap .area03 a {display:inline-block; width:50px; height:60px; padding-top:20px; text-align:center;}
#quick_wrap .area04 a {display:inline-block; background:#1d1d1d; width:50px; height:42px; padding-top:20px; text-align:center;}
#quick_wrap a span {display:block; color:#fff; font-family:nanumB; font-size:11px; letter-spacing:-1px; padding-top:3px;}
#quick_wrap a span.none {display:block; color:#fff; font-family:nanumB; font-size:11px; letter-spacing:-1px; padding-top:0;}
#quick_wrap cite {position:fixed; bottom:20px; left:23px; z-index:1;}

/* 상단메뉴 */
#head_wrap {position:absolute; width:100%; z-index:2; min-width:880px;} 
#head_wrap h1.logo {position:absolute; top:18px; right:25px; font-weight:bold; letter-spacing:-1px; font-family:armata, dax, helvetica; font-size:11px;} 
body#wrap #head_wrap #top_area {margin-left:270px;}
body#wrap2 #head_wrap #top_area {margin-left:286px;}
body#wide #head_wrap #top_area {margin-left:69px;}
#head_wrap ul#top_area li {position:relative; float:left;}
#head_wrap ul#top_area li a {display:inline-block; width:83px; height:75px; text-align:center; padding-top:24px;}
#head_wrap ul#top_area li a span {display:block; font-family:nanumB; font-size:11px; letter-spacing:-0.5px; padding-top:3px;}
#head_wrap ul#top_area li .ball {position:absolute; right:10px; top:22px; text-align:right;}
#head_wrap ul#top_area li .ball ul {text-align:right;}
#head_wrap ul#top_area li .ball p {float:left;}
#head_wrap ul#top_area li .ball .fi {width:6px; height:14px; background:url(/nanum/ncms/img/common/top_num_bg_l.png) no-repeat top left;}
#head_wrap ul#top_area li .ball .en {width:6px; height:14px; background:url(/nanum/ncms/img/common/top_num_bg_r.png) no-repeat top right;}
#head_wrap ul#top_area li .ball .num {font-family:armata, arial; font-size:10px; height:14px; color:#fff; background:#71b8f8; line-height:140%; font-weight:bold;}

/* 사이드 */
.side_close {position:absolute; left:242px; z-index:3;}
.side_open {position:absolute; left:51px; z-index:3;}

body#wrap #side_wrap {position:absolute; left:51px; width:190px; min-height:100%; height:auto !important; *height:100%; background:url(/nanum/ncms/img/default/side_menu_bg.gif) repeat; border-right:1px solid #383838; z-index:2;}
body#wrap2 #side_wrap {position:absolute; left:51px; width:216px; min-height:100%; height:auto !important; *height:100%; background:url(/nanum/ncms/img/default/side_menu_bg.gif) repeat; border-right:1px solid #383838; z-index:2;}
#side_wrap .top_area {min-height:176px; *height:176px; background:url(/nanum/ncms/img/default/side_tit_bg.gif) repeat; border-bottom:1px solid #383838;}
#side_wrap .top_area h2 {color:#fff; font-family:nanumB; font-weight:bold; font-size:24px; letter-spacing:-2px; padding:5px 22px 5px 26px; width:133px; line-height:30px; /*background:url(/nanum/ncms/img/common/side_tit_arrow.gif) no-repeat right bottom;*/}
#side_wrap .top_area span.lib_names{display: inline-block;width: 100%;color: #fff;font-size: 15px;font-weight: bold;margin-left:17px;margin-top: 20px;}
#side_wrap .top_area h2 span {padding-right:8px;}
#side_wrap .top_area h2 p {font-family:armata, arial; font-size:11px; font-weight:bold; line-height:20px; letter-spacing:-0.5px;}
#side_wrap .top_area h2 p.ip_default {color:#99cdfe;}
#side_wrap .top_area h2 p.ip_casual {color:#fff;}
#side_wrap .top_area h2 p.ip_chic {color:#f9e3d6;}
#side_wrap .top_area h2 p.ip_dandy {color:#ded5b9;}
#side_wrap .top_area h2 p.ip_marine {color:#edf7ff;}

#side_wrap .top_area .side_icon {height:83px; margin-top:0px; text-align:center;}
#side_wrap .top_area .side_icon li {display:inline;}
#side_wrap .top_area .side_icon li a {display:inline-block; width:53px; height:58px; margin:0 1px; padding:8px 0; font-family:nanumB; color:#8a8b8e;}
#side_wrap .top_area .side_icon li a:hover {color:#fff;}
#side_wrap .top_area .side_icon li a span {display:block; font-size:11px; letter-spacing:-1px; padding-top:4px;}

#side_wrap .menu_area {border-top:1px solid #676970; padding-top:5px;}

#side_wrap .menu_area dl {display:inline-block; width:180px; line-height:160%; padding:7px 0 10px 10px; font-family:nanum; font-size:11px; letter-spacing:-1px; background:transparent url(/nanum/ncms/img/common/side_menu_line.png) repeat-x bottom;}
#side_wrap .menu_area dl.none {background:none;}
#side_wrap .menu_area dl dt {clear:both; float:left; white-space:nowrap; color:#a1a2a6; padding-right:10px; padding-left:8px; background:transparent url(/nanum/ncms/img/common/side_icon04.png) no-repeat 0 8px;}
#side_wrap .menu_area dl dt span {width:9px; display:inline-block;}
#side_wrap .menu_area dl dd {color:#fff; letter-spacing:0; font-family:armata, arial; font-size:10px; padding-top:1px;}
#side_wrap .menu_area dl dd.url {width:130px; height:auto; line-height:125%; display:inline-block; padding:3px 0; word-break:break-all;}
#side_wrap .menu_area dl dd span {color:#a1a2a6; font-size:11px; padding-left:3px;}
#side_wrap .menu_area .today {width:190px; height:90px; margin-top:15px; text-align:center; background:transparent url(/nanum/ncms/img/common/side_today.png) no-repeat center 0; padding-top:40px; color:#303030; font-family:armata, arial; font-size:25px; font-weight:bold; letter-spacing:-3px;}
#side_wrap .menu_area .today span {display:block; font-size:11px; font-family:nanumB; color:#7f7f7f; letter-spacing:-1px; padding-top:4px;}

#side_wrap .menu_area li {position:relative; display:block; background:transparent url(/nanum/ncms/img/common/side_menu_line.png) repeat-x bottom;}
/*#side_wrap .menu_area li.on {background:url(/nanum/ncms/img/default/side_menu_bg_on.gif) repeat; border-bottom:1px solid #505257;}*/
#side_wrap .menu_area li a.category {display:inline-block; width:178px; color:#CCCCCC; padding:7px 0 11px 12px; font-family:nanumB; font-size:12px; letter-spacing:-1px;}
#side_wrap .menu_area li a.category:hover {color:#fff;}
#side_wrap .menu_area li a.on_default {color:#fff; font-family:nanum; font-weight:bold; line-height:115%;}
#side_wrap .menu_area li a.on_casual {color:#fff; font-family:nanum; font-weight:bold; line-height:115%;}
#side_wrap .menu_area li a.on_chic {color:#fff; font-family:nanum; font-weight:bold; line-height:115%;}
#side_wrap .menu_area li a.on_dandy {color:#fff; font-family:nanum; font-weight:bold; line-height:115%;}
#side_wrap .menu_area li a.on_marine {color:#fff; font-family:nanum; font-weight:bold; line-height:115%;}
#side_wrap .menu_area li a img.group {padding-right:4px;}
#side_wrap .menu_area li a.setup {position:absolute; right:7px; top:7px; display:inline-block;}

#side_wrap .menu_area li .depth2 {padding-bottom:10px;}
#side_wrap .menu_area li .depth2 li {position:relative; background:url(/nanum/ncms/img/common/side_menu_dot.gif) repeat-y 26px;}
#side_wrap .menu_area li .depth2 li.none {background:none;}
#side_wrap .menu_area li .depth2 li a.category {width:155px; padding:3px 40px 5px 10px; margin-left:11px;}
#side_wrap .menu_area li .depth2 li a.dot {width:130px; padding:3px 40px 5px 10px; margin-left:25px; background:transparent url(/nanum/ncms/img/common/side_icon04.png) no-repeat 0 5px;}
#side_wrap .menu_area li .depth2 li a.on {color:#99cdfe;}
#side_wrap .menu_area li .depth2 a.setup {position:absolute; right:7px; top:2px; display:inline-block;}

#side_wrap .menu_area li .depth3 {padding:2px 0;}
#side_wrap .menu_area li .depth3 li {position:relative; background:url(/nanum/ncms/img/common/side_menu_dot.gif) repeat-y 39px;}
#side_wrap .menu_area li .depth3 li a.category {width:135px; margin-left:24px;}
#side_wrap .menu_area li .depth3 li a.on {color:#99cdfe;}

#side_wrap .menu_area li .depth4 {}
#side_wrap .menu_area li .depth4 li {position:relative; background:url(/nanum/ncms/img/common/side_menu_dot.gif) repeat-y 52px;}
#side_wrap .menu_area li .depth4 li a.category {width:115px; margin-left:37px;}
#side_wrap .menu_area li .depth4 li a.on {color:#99cdfe;}

#side_wrap .menu_area li .depth5 {}
#side_wrap .menu_area li .depth5 li {position:relative; background:url(/nanum/ncms/img/common/side_menu_dot.gif) repeat-y 65px;}
#side_wrap .menu_area li .depth5 li a.category {width:100px; margin-left:50px;}
#side_wrap .menu_area li .depth5 li a.on {color:#99cdfe;}
#side_wrap .menu_area ul.sub {display:none;}

/* 사이트 설정 */
.lsetup_area {position:absolute; top:0; left:217px; z-index:5; background:url(/nanum/ncms/img/common/side_setup_bg.gif) repeat; border:1px solid #383838; border-left:none; white-space:nowrap;}
.lsetup_area .area a.btn {position:absolute; left:-29px; top:0;}
.lsetup_area ul {padding:10px 0;}
.lsetup_area ul li a {display:block; color:#fff; padding:5px 11px 8px 10px; letter-spacing:-1px; line-height:90%; background:url(/nanum/ncms/img/common/side_setup_bg.gif) repeat;}
.lsetup_area ul li a:hover {background:url(/nanum/ncms/img/common/side_setup_over.gif) repeat;}
.lsetup_area ul li a.nocon{color:#3d51af;}
.lsetup_area ul li a.btn2 {display:block; color:#fff; padding:5px 11px 8px 10px; letter-spacing:-1px; line-height:90%; background:url(/nanum/ncms/img/common/side_setup_bg2.gif) repeat;}
.lsetup_area ul li a.btn2:hover {background:url(/nanum/ncms/img/common/side_setup_over2.gif) repeat;}


/* 문자보내기 버튼 */
input[type='submit'].sms_btn{display:block;width:148px;padding:9px 0 9px 60px;margin-top:10px;text-align:left;font-family:'nanumB';font-size:12px;letter-spacing:-0.08em;color:#8a8b8e;background:url(/nanum/ncms/img/sms_btn.png) 0 0 no-repeat;border:none;}
input[type='submit'].sms_btn:hover{color:#fff;background:url(/nanum/ncms/img/sms_btn_on.png) 0 0 no-repeat;}


/*manual*/
.manual{position:absolute;top:47px;right:25px;}
.manual a{display:inline-block;padding:10px 25px 11px 25px;color:#fff !important;font-weight:600;border-radius:30px;background:#7187cb;}
.manual a span{padding-left:26px;background:url(/nanum/ncms/img/default/manual_btn_icon.png) no-repeat left 50%;}