

body#wrap #contents {clear:both; position:relative; margin:100px 0 60px 241px; padding:20px 20px 30px 20px;} 
body#wide #contents {clear:both; position:relative; margin:100px 0 60px 51px; padding:20px 20px 30px 20px;} 



/* 메인 */
h1.m_tit {clear:both; background:url(/nanum/ncms/img/common/m_tit_icon.gif) no-repeat center top; padding-top:30px; height:45px; color:#4F4F4F; font-family:nanumB; font-size:15px; letter-spacing:-1px; text-align:center;}
h1.m_tit span {color:#617AE9;}

#m_new_notice {clear:both; margin-right:220px;}
#m_new_notice li {clear:both; display:inline-block; width:100%; position:relative; border-top:1px solid #e5e5e5; padding-top:15px; margin-bottom:13px;}
#m_new_notice li .subj {display:block; color:#000; font-family:nanumB; font-size:13px;}
#m_new_notice li .subj_default a:hover {color:#5c7df8;}
#m_new_notice li .subj_casual a:hover {color:#df5ea0;}
#m_new_notice li .subj_chic a:hover {color:#cb4130;}
#m_new_notice li .subj_dandy a:hover {color:#cdac3d;}
#m_new_notice li .subj_marine a:hover {color:#4694df;}
#m_new_notice li .subj a img {margin-left:3px;}
#m_new_notice li .date {position:absolute; left:0; top:11px; color:#5c7df8; font-family:armata, arial; font-size:11px; padding:0 13px 0 8px; border-right:1px solid #f0f0f0; width:64px;}
#m_new_notice li .date p {font-size:30px; color:#888; letter-spacing:-1.5px; text-align:center; display:inline; float:left;}
#m_new_notice li .date span {font-family:nanum; color:#888; font-size:24px; display:block; float:right; padding-top:2px;}
#m_new_notice li .date .small {clear:both; display:block; font-size:10px; font-size:14px; color:#aaa; letter-spacing:0; text-align:center; padding-left:2px;}
#m_new_notice li .cont {float:left; margin:0 90px 0 100px;}
#m_new_notice li .detail {clear:both; display:block; color:#8f8f8f; padding-top:5px;}
#m_new_notice li .location {display:block; color:#777; padding-top:7px;}
#m_new_notice li .view {float:right;}
#m_new_notice li .view a {position:absolute; top:10px; right:8px; background:url(/nanum/ncms/img/common/m_list_icon.gif) no-repeat right 1px; color:#b2b2b2; letter-spacing:-0.5px; padding-right:21px; padding-top:2px; font-size:11px; height:18px; margin-top:5px;}
#m_new_notice li .view a:hover {background:url(/nanum/ncms/img/common/m_list_icon_over.gif) no-repeat right 1px; color:#555;}
#m_new_notice .more {clear:both; margin-top:40px;}

/* 메모 */
#note_wrap {position:absolute; right:0; top:95px; width:210px; background:#f1f1f1;}
#note_wrap h2 {background:url(/nanum/ncms/img/common/note_icon.gif) no-repeat center top; font-size:11px; padding-top:37px; margin-top:40px; font-family:nanumB; text-align:center;}
#note_wrap .area {position:relative; min-height:100px; vertical-align:top;}
#note_wrap textarea.memo {border:none; background:none; width:170px; margin:20px 0; padding:0 20px; color:#555; line-height:150%; min-height:200px;}	
#note_wrap .area label {position:absolute; top:25px; left:28px; color:#bbb; width:160px; margin-right:20px;}	
#note_wrap .bottom .bt {margin-bottom:20px;}
#note_wrap .bottom .st, .bt {text-align:center;}
#note_wrap .bottom .st {color:#777; padding-bottom:15px; font-size:11px;}
#note_wrap .bottom .st strong {font-family:armata, arial; font-size:10px;}