@CHARSET "UTF-8";

#layer_all{display:none;position:absolute;left:0;top:0;border:1px solid #ccc;background:#fff;white-space:normal;z-index:999;}

.popmask{position:fixed;top:0;left:0;width:100%;height:100%;background:rgba(0,0,0,0.6);z-index:100;}

.popup_btm{overflow:hidden;height:40px;background:#333;font-family:'NotoKrM';}
.popup_btm .btn_chk{float:left;margin-left:15px;font-size:12px;line-height:40px;color:#fff;letter-spacing:-0.05em;}
.popup_btm .btn_chk input{vertical-align:middle;}
.popup_btm .btn_cls{float:right;margin:8px 15px 0 0;padding:2px 8px;border:1px solid #fff;background:#333;font-family:'NotoKrM';font-size:12px;color:#fff;}

/* 통합팝업 */
#all_popup{width:100%;}
#all_popup .text_tit{background:#2c3b6a;padding:20px;font-family:'NotoKrM';font-size:15px;line-height:1;text-align:center;color:#fff;letter-spacing:-0.025em;}
#all_popup .text_box{padding:15px;background:#f5f5f5;}
#all_popup .text_list{padding:10px 15px 150px 15px;border:1px solid #dfdfdf;border-right:1px solid #aaa;border-bottom:1px solid #aaa;border-radius:10px;background:#fff;}
#all_popup .text_list ul{width:100%;}
#all_popup .text_list ul li{padding:10px 0;padding-left:12px;background:url(/nanum/site/builder/skin/major/img/common/icon_list.gif) no-repeat 0 18px;border-bottom:1px dashed #d5d5d5;}
#all_popup .text_list ul li a{font-family:'NotoKrM';font-size:14px;line-height:22px;color:#555;text-decoration:none;letter-spacing:-0.05em;}
#all_popup .text_list ul li a:hover{color:#222;text-decoration:underline;}

/* 새창팝업 */
.popup{position:relative;padding-bottom:40px;}
.popup .popup_cont{position:relative;padding:0;margin:0;}
.popup .popup_btm{position:fixed;width:100%;left:0;bottom:0;}

/* 중앙정렬로되는팝업 */
.center_popup{width:500px;top:200px !important;left:50% !important;margin-left:-251px;}

/********************태블릿********************/
@media all and (max-width:1024px){
	
.mmimg_w{top:0 !important; left:0 !important;}
.mmimg_w,
.mmimg_in,
.mmmimg,
.mmmimg p,
.mmmimg img{width:100% !important;height:auto !important;}

/* 중앙정렬로되는팝업 */
.center_popup{width:auto;top:auto;left:auto;margin-left:0;}

}

/********************모바일********************/
@media all and (max-width:767px){
	
}

/********************웹********************/
@media all and (min-width:1025px) {

}
	