@charset "UTF-8";
.base_search{padding:30px 0;border:1px solid #ccc;text-align:center;}
.base_search .select_box{width:608px;height:32px;margin:0 auto;margin-bottom:8px;display:inline-block;text-align:left;}
.base_search .select_box .comm_sel{margin-left:5px;}
.base_search .select_box .comm_sel:first-child{margin-left:0;}
/*검색바디자인*/
.search_style{width:100%;text-align:center}
.search_style .search{display:inline-block;block;position:relative;margin:0 auto;padding:4px;width:600px;height:35px;background:url("/nanum/ndls/imgs/common/search_bar.gif") no-repeat right 0;/*transition:all 0.4s;*/}
.search_style .search:hover{background:url("/nanum/ndls/imgs/common/search_bar.gif") no-repeat left 0;transition:all 0.4s;}
.search_style .search .input{position:relative;margin:0 15% 0 0;background:#fff;*zoom:1}
.search_style .search .input:before,
.search_style .search .input:after{clear:both;display:table;content:"";line-height:0;}
.search_style .search .input input{float:left;width:90%;height:32px;color:#333;border:0;text-indent:5px;background:#fff;outline:none;cursor:text;}
.search_style .search label{position:absolute;top:6px;left:15px;cursor:text;}
.search_style .btn-search{position:absolute;top:4px;right:2px;width:15%;height:32px;line-height:32px;font-size:15px;font-weight:bold;color:#fff;border:0;background:none;border-radius:0;cursor:pointer;outline:none}
.search_style .btn-desearch{float:left;display:block;padding:0 12px;line-height:32px;font-size:15px;font-weight:800;color:#12c2c1;border:1px solid #999;background:#fff}
.base_search .search_style .btn-desearch:hover{color:#000;border:1px solid #999;background-color:#eee;}

/******************************모바일******************************/
@media(max-width:736px){
.base_search .select_box{width:auto;margin:0 auto;margin-bottom:8px;}
/*검색바디자인*/
.search_style .search{margin:0 auto;width:80%;}
.search_style .search .input{margin:0 50px 0 0;}
.search_style .search .input input{width:100%;}
.search_style .btn-search{width:50px;font-size:13px;}
}