@charset "utf-8";

a, a:link {color: #575757; text-decoration: none; cursor: pointer; }
a:visited {color: #575757;}
a:hover, a:active, a:focus {color: #575757; text-decoration: underline;}
select{font-size: 1em;}
input.poll_input {border:1px solid #cdcdcd; height:15px; padding:3px 3px 0px 3px; font-size:1em; background-color:#ffffff;}
input.poll_input_file {width:90%; border:1px solid #cdcdcd; padding:3px 3px 0px 3px; font-size: 1em; background-color:#ffffff;}
textarea {border:1px solid #CDCDCD; font-size:1em;}
.display_none {display:none;}


#poll {margin:0 auto; }

#poll .poll_total {width:100%;}
#poll .poll_total_left {float:left; font-size:0.95em; padding-bottom:5px;}
#poll .poll_total_right {float:right; padding-bottom:5px;}
#poll .poll_total_right li {float:left;}
#poll .poll_total_right li img {height:20px;}
#poll .poll_total img {padding-left:3px;}
#poll div.poll_total .poll_orange{color:#F96F00;}
#poll .poll_button {width:100%; margin-top:5px; text-align:right;}
#poll .guide span {float:right; color:#838383; font-family:dotum; font-size:0.9em; font-weight:normal; letter-spacing:-0.1em; padding:0 4px 6px 0;}
#poll span.category_color {color:#979797;}

/* List */
#poll .table_blist {clear:both;}
#poll .table_blist table {width:100%; line-height:16px; border-collapse:collapse; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5;}
#poll .table_blist table caption {display:none;}
#poll .table_blist thead th {text-align:center; border-bottom:1px solid #5b5b5b; height:33px; color:#333; line-height:160%; background:url(/nanum/site/board/nninc_simple/img/tit_line.gif) no-repeat right;}
#poll .table_blist thead th.th_none {background-image:none;}
#poll .table_blist tbody td {white-space:nowrap; height:36px; border-bottom:1px solid #e5e5e5; text-align:center; line-height:140%;}
#poll .table_blist tbody td img {vertical-align:middle;}
#poll .table_blist tbody td span.reply_count {color:#EE5A00; font-size:0.9em; font-weight:normal; letter-spacing:-0.1em;}
#poll .table_blist tbody td.notice {background-color:#FBFBFB;}
#poll .table_blist tbody td.title {white-space:normal; text-align:left;}
#poll .table_blist tbody td.center {text-align:center;}

/* Write */
#poll .table_bwrite {clear:both; padding-top:20px;}
#poll .table_bwrite table{width:100%; line-height:16px; border-collapse:collapse; border-bottom:1px solid #F0F0F0;}
#poll .table_bwrite table caption{display:none;}
#poll .table_bwrite thead th {background:#F0F0F0; padding:8px 0 6px 0; color:#373737; font-weight:bold; line-height:130%;}
#poll .table_bwrite thead th.subject {text-align:left;padding-right:8px;}
#poll .table_bwrite thead th.count {background:url(/nanum/site/poll/img/count_bg.gif) #F0F0F0 no-repeat scroll 11px 8px;text-align:center; vertical-align:top; font-family:verdana; color:#ffffff; font-size:0.8em; padding-bottom:8px; letter-spacing:-0.1em;}
#poll .table_bwrite tbody td.content{padding:10px 0 10px 0; text-align:left;}
#poll .table_bwrite tbody td.content div{padding-bottom:3px;}

/* Title */
#poll_tit .title_bg {width:99%; background-color:#FFFFFF; border:4px solid #F5F5F5;}
#poll_tit .title_bg_02 {padding:15px;}
#poll_tit .title {background-color:#E0EFF3;font-weight:bold;height:18px;padding:6px;color:#000000;font-size:1.1em;font-family:gulim; text-align:left;}
#poll_tit .title img {vertical-align:middle;}
#poll_tit .title_content {margin-top:15px;text-align:justify;}
#poll_tit .title_content ul {margin:0 0 0 20px;padding:0;}
#poll_tit .title_content li {background:transparent url(/nanum/site/poll/img/bull_list.gif) no-repeat scroll 3px 40%; padding:2px 0 2px 10px; }


/* View */
#poll .table_bview {clear:both; padding-top:20px;}
#poll .table_bview table{width:100%; line-height:16px; border-collapse:collapse; border-bottom:1px solid #F0F0F0;}
#poll .table_bview table caption{display:none;}
#poll .table_bview thead th {background:#F0F0F0; padding:8px 0 6px 0; color:#373737; font-weight:bold; line-height:130%;}
#poll .table_bview thead th.subject {text-align:left;padding-right:8px;}
#poll .table_bview thead th.count {background:url(/nanum/site/poll/img/count_bg.gif) #F0F0F0 no-repeat scroll 11px 8px;text-align:center; vertical-align:top; font-family:verdana; color:#ffffff; font-size:0.8em; padding-bottom:8px; letter-spacing:-0.1em;}
#poll .table_bview tbody td.content{padding:20px 0 10px 0; text-align:left;}

#poll .total_result {width:100%;}
#poll .result01 {float:left;width:50%; background:transparent url(/nanum/site/poll/img/bull_list.gif) no-repeat scroll 1px 36%;padding-left:7px;}
#poll .result02 {float:left;width:50px; text-align:right;}
#poll .result03 {float:left;width:50px; text-align:right;}
#poll .result04 {float:left;width:150px;margin-left:10px;}
#poll .graph01 {background-image:url(/nanum/site/poll/img/graph_bar01.gif);height:13px;}
#poll .graph02 {background-image:url(/nanum/site/poll/img/graph_bar02.gif);height:13px;}
#poll .graph03 {background-image:url(/nanum/site/poll/img/graph_bar03.gif);height:13px;}
#poll .graph04 {background-image:url(/nanum/site/poll/img/graph_bar04.gif);height:13px;}
#poll .graph05 {background-image:url(/nanum/site/poll/img/graph_bar05.gif);height:13px;}
#poll .graph06 {background-image:url(/nanum/site/poll/img/graph_bar01.gif);height:13px;}
#poll .graph07 {background-image:url(/nanum/site/poll/img/graph_bar02.gif);height:13px;}
#poll .graph08 {background-image:url(/nanum/site/poll/img/graph_bar03.gif);height:13px;}
#poll .graph09 {background-image:url(/nanum/site/poll/img/graph_bar04.gif);height:13px;}
#poll .graph10 {background-image:url(/nanum/site/poll/img/graph_bar05.gif);height:13px;}
#poll .clear {clear:both;padding-bottom:6px;}


/* View Popup */
#poll_popup {width:100%;}
#poll_popup .table_bview {clear:both;background:#F0F0F0; padding:8px 0 8px 0; color:#373737; font-weight:bold; }
#poll_popup .table_bview div.subject {float:left; text-align:left;}
#poll_popup .table_bview div.count {float:left; width:38px; height:20px; background:url(/nanum/site/poll/img/count_bg.gif) #F0F0F0 no-repeat scroll 11px 0px;;text-align:center; vertical-align:top; font-family:verdana; color:#ffffff; font-size:0.8em; letter-spacing:-0.1em;}

#poll_popup .table_blist {clear:both; text-align:center; margin:0 auto; padding-top:20px; padding-bottom:20px;}
#poll_popup .table_blist table{width:96%; line-height:16px; border-collapse:collapse; border-top:2px solid #C8C8C8; }
#poll_popup .table_blist table caption{display:none;}
#poll_popup .table_blist thead th {border:1px solid #DCDCDC; height:28px; background:#F4F4F4; color:#666666; font-weight:bold; letter-spacing:-0.1em; line-height:160%;}
#poll_popup .table_blist thead th.th_none {background-image:none;}
#poll_popup .table_blist tbody td{ border:1px solid #DCDCDC; background:#ffffff; text-align:center; line-height:140%;}
#poll_popup .table_blist tbody td.notice {background-color:#FBFBFB;}
#poll_popup .table_blist tbody td.title {text-align:left;padding:4px;}
#poll_popup .table_blist tbody td.center {text-align:center;}


/* Paginate */
.poll_paginate {clear:both; position:relative; text-align:center;margin-top:35px;}
.poll_paginate *{margin:0; padding:0;}
.poll_paginate a,
.poll_paginate strong {_position:relative; font-weight:bold; display:inline-block; height:20px; padding:5px 9px 0 9px; color:#777; margin:0 1px; border:1px solid #dfdfdf; text-decoration:none; line-height:normal; vertical-align:middle;font-size:11px;font-weight:normal;font-family:tahoma;}
.poll_paginate strong {color:#222 !important; font-weight:bold; border:1px solid #888;vertical-align:middle;}
.poll_paginate a:hover {background:#F7F7F7;}
.poll_paginate a.pre {border:none;height:21px; font-weight:normal; vertical-align:middle; padding:4px 8px 0 8px; background:none; margin:-1px 1px 0 1px; border:1px solid #dfdfdf;}
.poll_paginate a.next {border:none;height:21px; font-weight:normal; vertical-align:middle; padding:4px 8px 0 8px; background:none; margin:-1px 1px 0 1px; border:1px solid #dfdfdf;}

/* Button */
.poll_button {clear:both;}
.poll_button .fl {float:left;}
.poll_button .fr {float:right; overflow:hidden;}
.poll_button .pt10 {padding-top:10px;}


.poll_button ul li {float:left;}
.poll_button ul li.pl {padding-left:10px;}
.poll_button ul li.pt {padding-top:7px;}
.poll_button span.bt {float:right; padding-top:10px; padding-left:4px; text-align:right;}
.poll_button2 {margin:0 auto; text-align:center; padding-top:10px; padding-left:4px;}




.poll_bt01 {display:inline;}
.poll_bt01 a{display:inline; overflow:hidden; float:left; height:22px; padding-left:13px; margin-right:3px; font:12px dotum; letter-spacing:-1px; color:#6B6B6B; text-decoration:none; background:url(/nanum/site/poll/img/bt01_bg.gif) left 0; cursor:pointer;}
.poll_bt01 a:hover{background:url(/nanum/site/poll/img/bt01_bg.gif) left -22px; text-decoration:none;}
.poll_bt01 a span{display:inline; overflow:hidden; float:left; height:22px; padding-right:10px; line-height:200%; background:url(/nanum/site/poll/img/bt01_bg.gif) right 0;}
.poll_bt01 a:hover span{color:#6B6B6B; background:url(/nanum/site/poll/img/bt01_bg.gif) right -22px;}


/* Search */
.poll_search {width:330px; margin:0 auto; margin-top:18px;}
.poll_search ul {float:left;}
.poll_search ul li {float:left; height:35px;}
.poll_search ul li.poll_search_start {float:left; width:18px; height:35px; background:url(/nanum/site/board/nninc_simple/img/search_left.gif); background-repeat:no-repeat;}
.poll_search ul li.poll_search_end {float:left; width:18px; height:35px; background:url(/nanum/site/board/nninc_simple/img/search_right.gif); background-repeat:no-repeat;}
.poll_search ul li select {float:left; height:28px;}
.poll_search ul li input.search_input {float:left; margin-left:5px; background:#e5e5e5; border:1px solid #bebebe; border-right:1px solid #e1e1e1; border-bottom:1px solid #e1e1e1; height:24px; padding:2px 0 0 3px;}
.poll_search ul li input.search_bt {float:left;}

.command_pwd {position:absolute; border:2px solid #C6C6C6; background-color:#ffffff; padding:8px 15px 8px 15px; text-align:center; vertical-align:middle; font-weight:bold; color:#313131; line-height:140%;}
.command_pwd li.text {float:left; letter-spacing:-0.1em; padding:0; font-size:0.9em; padding-top:4px;padding-right:4px;}
.command_pwd li {float:left; padding-left:3px;}
.command_pwd li img {height:20px;padding-top:1px;}


.pwd_check {width:90%; margin:0 auto; margin-top:20px; text-align:center; border-top:2px solid #C8C8C8; border-bottom:2px solid #DEDEDE; background-color:#ffffff; padding:25px; font-weight:bold; color:#313131; line-height:140%;}
.pwd_check *{margin:0; padding:0;}
.pwd_check span{color:#7D7D7D; letter-spacing:-1px; font-size:11px;}
.pwd_check li.text {letter-spacing:-0.1em; font-size:0.9em;}
.pwd_check li {}
.pwd_check_button {width:90%;margin:0 auto; text-align:center; padding-top:10px;}


