@charset "utf-8";

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td 
{margin:0; padding:0; border:0;} /* vertical-align: baseline; outline: 0; ie 외 브라우저 포커싱 사라지는 문제로 제거 */

ol, ul, li {list-style:none;}
blockquote, q {quotes:none;}
ins {text-decoration:none;}
del {text-decoration:line-through;}
table {border-spacing:0;} /* border-collapse: collapse; ff에서 border="0" 인 경우 문제 발생 */
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;} /* font-weight:normal */
input[type="button"], input[type="submit"] {padding:0; margin:0; *padding:0; *margin:0; cursor:pointer;}
select{font-size: 1em;}
.radio {margin-bottom:-2px;}
textarea {border:1px solid #cdcdcd; font-size:12px; padding:3px; font-family:nanum, dotum;}
hr {display: none;}
legend {visibility:hidden; display:none; height:0; width:0; font-size:0;}
.hidden {overflow:hidden; position:absolute; visibility:hidden; font-size:0; height:0; width:0;}


