
/********************** ↓ 스킨별 컬러설정 **********************/

/***** 퀵메뉴 *****/
/* default */
.quick_wrap_default {background:url(/nanum/ncms/img/default/lquick_bg.gif) repeat; border-right:1px solid #383838;}
.quick_wrap_default .area01 a {background:url(/nanum/ncms/img/default/lquick_01_bg.gif) repeat;}
.quick_wrap_default .area02 a {background:url(/nanum/ncms/img/default/lquick_02_bg.gif) repeat;}
.quick_wrap_default .area03 a {background:url(/nanum/ncms/img/default/lquick_03_bg.gif) repeat;}

/* casual */
.quick_wrap_casual {background:url(/nanum/ncms/img/default/lquick_bg.gif) repeat; border-right:1px solid #383838;}
.quick_wrap_casual .area01 a {background:url(/nanum/ncms/img/casual/lquick_01_bg.gif) repeat;}
.quick_wrap_casual .area02 a {background:url(/nanum/ncms/img/casual/lquick_02_bg.gif) repeat;}
.quick_wrap_casual .area03 a {background:url(/nanum/ncms/img/casual/lquick_03_bg.gif) repeat;}

/* chic */
.quick_wrap_chic {background:url(/nanum/ncms/img/default/lquick_bg.gif) repeat; border-right:1px solid #383838;}
.quick_wrap_chic .area01 a {background:url(/nanum/ncms/img/chic/lquick_01_bg.gif) repeat;}
.quick_wrap_chic .area02 a {background:url(/nanum/ncms/img/chic/lquick_02_bg.gif) repeat;}
.quick_wrap_chic .area03 a {background:url(/nanum/ncms/img/chic/lquick_03_bg.gif) repeat;}

/* dandy */
.quick_wrap_dandy {background:url(/nanum/ncms/img/default/lquick_bg.gif) repeat; border-right:1px solid #383838;}
.quick_wrap_dandy .area01 a {background:url(/nanum/ncms/img/dandy/lquick_01_bg.gif) repeat;}
.quick_wrap_dandy .area02 a {background:url(/nanum/ncms/img/dandy/lquick_02_bg.gif) repeat;}
.quick_wrap_dandy .area03 a {background:url(/nanum/ncms/img/dandy/lquick_03_bg.gif) repeat;}

/* marine */
.quick_wrap_marine {background:url(/nanum/ncms/img/default/lquick_bg.gif) repeat; border-right:1px solid #383838;}
.quick_wrap_marine .area01 a {background:url(/nanum/ncms/img/marine/lquick_01_bg.gif) repeat;}
.quick_wrap_marine .area02 a {background:url(/nanum/ncms/img/marine/lquick_02_bg.gif) repeat;}
.quick_wrap_marine .area03 a {background:url(/nanum/ncms/img/marine/lquick_03_bg.gif) repeat;}


/***** 상단메뉴 *****/
/* default */
.head_wrap_default h1.logo {color:#fff;}
.head_wrap_default {border-bottom:1px solid #383838; background:url(/nanum/ncms/img/default/top_bg.gif) repeat; height:99px;}
.head_wrap_default ul li a {color:#b0b4c1;}
.head_wrap_default ul li a:hover {background:url(/nanum/ncms/img/default/top_bg_on.gif) repeat; color:#fff;}
.head_wrap_default ul li a.on {background:url(/nanum/ncms/img/default/top_bg_on.gif) repeat; color:#fff;}
.head_wrap_default ul li.manual a {background:#7187cb; color:#d5dbf0;}
.head_wrap_default ul li.manual a:hover,
.head_wrap_default ul li.manual a.on {background:#697fc1; color:#fff;}

/* casual */
.head_wrap_casual h1.logo {color:#444;}
.head_wrap_casual {border-bottom:3px solid #383838; background:#fff; height:97px;}
.head_wrap_casual ul li a {color:#6a6a6a;}
.head_wrap_casual ul li a:hover {background:#383838; color:#fff;}
.head_wrap_casual ul li a.on {background:#383838; color:#fff;}

/* chic */
.head_wrap_chic h1.logo {color:#444;}
.head_wrap_chic {border-bottom:1px solid #d5d5d5; background:#efefef; height:99px;}
.head_wrap_chic ul li a {color:#757575;}
.head_wrap_chic ul li a:hover {background:#c0311f; color:#fff;}
.head_wrap_chic ul li a.on {background:#c0311f; color:#fff;}

/* dandy */
.head_wrap_dandy h1.logo {color:#444;}
.head_wrap_dandy {border-bottom:1px solid #ac9e6f; background:url(/nanum/ncms/img/dandy/top_bg.gif) repeat; height:99px;}
.head_wrap_dandy ul li a {color:#6a5f3b;}
.head_wrap_dandy ul li a:hover {background:url(/nanum/ncms/img/dandy/top_bg_on.gif) repeat; color:#232323;}
.head_wrap_dandy ul li a.on {background:url(/nanum/ncms/img/dandy/top_bg_on.gif) repeat; color:#232323;}

/* marine */
.head_wrap_marine h1.logo {color:#444;}
.head_wrap_marine {border-bottom:1px solid #bcd4e7; background:url(/nanum/ncms/img/marine/top_bg.gif) repeat; height:99px;}
.head_wrap_marine ul li a {color:#232323;}
.head_wrap_marine ul li a:hover {background:url(/nanum/ncms/img/marine/top_bg_on.gif) repeat; color:#fff;}
.head_wrap_marine ul li a.on {background:url(/nanum/ncms/img/marine/top_bg_on.gif) repeat; color:#fff;}



/*********************** 버튼_input타입 ***********************/ 

/* default */
input.btn_bl_default {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#52618e; border:none;}
input.btn_bl_default:hover {background:#303b41;}
input.btn_wh_default {display:inline-block; padding:5px 14px 7px 14px; *padding:5px 8px; font-size:12px; color:#484848; font-family:nanumB; text-decoration:none; background:#fff; border:1px solid #d4d4d4;}
input.btn_wh_default:hover {color:#111; border:1px solid #aaa;}
input.btn_gr_default {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none;}
input.btn_gr_default:hover {background:#7c7c7c;}

/* casual */
input.btn_bl_casual {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#df5ea0; border:none;}
input.btn_bl_casual:hover {background:#303b41;}
input.btn_wh_casual {display:inline-block; padding:5px 14px 7px 14px; *padding:5px 8px; font-size:12px; color:#484848; font-family:nanumB; text-decoration:none; background:#fff; border:1px solid #d4d4d4;}
input.btn_wh_casual:hover {color:#111; border:1px solid #aaa;}
input.btn_gr_casual {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none;}
input.btn_gr_casual:hover {background:#7c7c7c;}

/* chic */
input.btn_bl_chic {display:inline-block; padding:5px 14px 7px 14px; *padding:5px 8px; font-size:12px; font-family:nanumB; text-decoration:none; background:#f6ded0; border:1px solid #f4d5c2;}
input.btn_bl_chic:hover {padding:6px 15px 8px 15px; *padding:6px 9px; color:#fff; background:#303b41; border:none;}
input.btn_wh_chic {display:inline-block; padding:5px 14px 7px 14px; *padding:5px 8px; font-size:12px; color:#484848; font-family:nanumB; text-decoration:none; background:#fff; border:1px solid #d4d4d4;}
input.btn_wh_chic:hover {color:#111; border:1px solid #aaa;}
input.btn_gr_chic {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none;}
input.btn_gr_chic:hover {background:#7c7c7c;}

/* dandy */
input.btn_bl_dandy {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#be1920; border:none;}
input.btn_bl_dandy:hover {background:#303b41;}
input.btn_wh_dandy {display:inline-block; padding:5px 14px 7px 14px; *padding:5px 8px; font-size:12px; color:#484848; font-family:nanumB; text-decoration:none; background:#fff; border:1px solid #d4d4d4;}
input.btn_wh_dandy:hover {color:#111; border:1px solid #aaa;}
input.btn_gr_dandy {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none;}
input.btn_gr_dandy:hover {background:#7c7c7c;}

/* marine */
input.btn_bl_marine {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#5645d0; border:none;}
input.btn_bl_marine:hover {background:#303b41;}
input.btn_wh_marine {display:inline-block; padding:5px 14px 7px 14px; *padding:5px 8px; font-size:12px; color:#484848; font-family:nanumB; text-decoration:none; background:#fff; border:1px solid #d4d4d4;}
input.btn_wh_marine:hover {color:#111; border:1px solid #aaa;}
input.btn_gr_marine {display:inline-block; padding:6px 15px 8px 15px; *padding:6px 9px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none;}
input.btn_gr_marine:hover {background:#7c7c7c;}

.icon_sample {height:33px; padding-left:2px; width:36px;}
.top_search_area .icon_sample a img {width:80%; margin-top:2px;}
td .icon_sample a img {width:80%; margin-top:3px;}
#icon_sample {position:absolute; padding:10px 10px 5px 10px; border:1px solid #bbb; text-align:center; background-color:#fff;}
#icon_sample img{padding:0 5px;}

/* 버튼기타_a타입 */
a.btn_bl {display:inline-block; background:#303b41; padding:6px 16px 8px 16px; *padding:8px 14px; font-size:12px; color:#fff; font-family:nanumB; letter-spacing:-0.5px; text-align:center;}
a.btn_wh {display:inline-block; background:#fff; padding:5px 15px 7px 15px; *padding:7px 13px; font-size:12px; color:#484848; font-family:nanumB; letter-spacing:-0.5px; text-align:center; border:1px solid #d4d4d4;}
a.btn_gr {display:inline-block; background:#7c7c7c; padding:6px 16px 8px 16px; *padding:8px 14px; font-size:12px; color:#fff; font-family:nanumB; letter-spacing:-0.5px; text-align:center;}
a.btn_bl_ {display:inline-block; background:#303b41; padding:6px 0 8px 0; *padding:8px 0; font-size:12px; color:#fff; font-family:nanumB; letter-spacing:-0.5px; text-align:center;}
a.btn_wh_ {display:inline-block; background:#fff; padding:5px 0 7px 0; *padding:7px 0; font-size:12px; color:#484848; font-family:nanumB; letter-spacing:-0.5px; text-align:center; border:1px solid #d4d4d4;}


/* 버튼기타_우편번호 */
input.btn_ch_zipcode {display:inline-block; padding:5px 9px 6px 9px; *padding:5px 3px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#df5ea0; border:none; vertical-align:top;}
input.btn_ch_zipcode:hover {background:#303b41;}

input.btn_dd_zipcode {display:inline-block; padding:5px 9px 6px 9px; *padding:5px 3px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#be1920; border:none; vertical-align:top;}
input.btn_dd_zipcode:hover {background:#303b41;}

input.btn_bl_zipcode {display:inline-block; padding:5px 9px 6px 9px; *padding:5px 3px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#52618e; border:none; vertical-align:top;}
input.btn_bl_zipcode:hover {background:#303b41;}

input.btn_gre_zipcode {display:inline-block; padding:5px 9px 6px 9px; *padding:5px 3px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#088A29; border:none; vertical-align:top;}
input.btn_gre_zipcode:hover {background:#057D23;}

input.btn_gr_zipcode {display:inline-block; padding:5px 9px 6px 9px; *padding:5px 3px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none; vertical-align:top;}
input.btn_wh_zipcode {display:inline-block; padding:4px 8px 5px 8px; *padding:4px 2px; font-size:12px; color:#484848; font-family:nanumB; text-decoration:none; background:none; border:1px solid #d4d4d4; vertical-align:top;}
input.btn_bl_ {display:inline-block; background:#303b41; padding:3px 5px; *padding:3px 0; font-size:10px; color:#fff; font-family:nanumB; letter-spacing:-0.5px; text-align:center;}
input.btn_wh_ {display:inline-block; background:#fff; padding:2px 4px; *padding:2px 0; font-size:10px; color:#484848; font-family:nanumB; letter-spacing:-0.5px; text-align:center; border:1px solid #d4d4d4;}
input.ct_bt01 {display:inline-block; padding:5px 9px 6px 9px; *padding:5px 3px; font-size:12px; color:#fff; font-family:nanumB; text-decoration:none; background:#7c7c7c; border:none; vertical-align:top;}

/* 스킨설정 */
#skinset {position:absolute; top:70px; right:28px; z-index:111; font-size:11px;}

#skinset .tit_default {color:#d9dbe2; background:url(/nanum/ncms/img/default/skin_arrow.png) no-repeat right 2px; padding-right:20px;}
#skinset .tit_casual {background:url(/nanum/ncms/img/default/skin_arrow_on.png) no-repeat right 2px; padding-right:20px;}
#skinset .tit_chic {background:url(/nanum/ncms/img/default/skin_arrow_on.png) no-repeat right 2px; padding-right:20px;}
#skinset .tit_dandy {background:url(/nanum/ncms/img/default/skin_arrow_on.png) no-repeat right 2px; padding-right:20px;}
#skinset .tit_marine {background:url(/nanum/ncms/img/default/skin_arrow_on.png) no-repeat right 2px; padding-right:20px;}

#skinset .list {position:absolute; top:-10px; right:-9px; color:#d9dbe2; background:#fff; border:1px solid #000; padding:9px 8px 10px 12px; width:60px;}
#skinset .list p.tit {color:#000; background:url(/nanum/ncms/img/default/skin_arrow_on.png) no-repeat right 2px; padding:0;}
#skinset .list ul {margin-top:13px;}
#skinset .list ul li a {display:block; color:#5b637d; margin:0; line-height:150%; font-size:10px;}
#skinset .list ul li a:hover {color:#111;}
#skinset .list ul li a span {display:inline-block; width:7px; height:7px; margin-right:4px; vertical-align:middle;}
#skinset .list ul li a span.default {background:#444f71;}
#skinset .list ul li a span.casual {background:#665baf;}
#skinset .list ul li a span.chic {background:#c0311f;}
#skinset .list ul li a span.dandy {background:#d1af3d;}
#skinset .list ul li a span.marine {background:#75b3e7;}

#skinset .list ul li.on span {display:inline-block; background:none; width:3px; height:3px; vertical-align:middle;}
#skinset .list ul li.on span.default {background:none; border:2px solid #444f71;}
#skinset .list ul li.on span.casual {background:none; border:2px solid #665baf;}
#skinset .list ul li.on span.chic {background:none; border:2px solid #c0311f;}
#skinset .list ul li.on span.dandy {background:none; border:2px solid #d1af3d;}
#skinset .list ul li.on span.marine {background:none; border:2px solid #75b3e7;}

